[2017-03-09 08:47] kohlerm opened #2 "Does not compile for me"
$ go version
go version go1.7.3 linux/amd64

$go install gopkg.in/src-d/hercules.v1/cmd/hercules
../hercules.v1/cmd/hercules/main.go:13:2: code in directory /home/kohlerm/go/src/gopkg.in/src-d/go-git.v4 expects import "srcd.works/go-git.v4"

removing the  import comment in doc.go
diff --git a/doc.go b/doc.go
index d304938..242f3be 100644
--- a/doc.go
+++ b/doc.go
@@ -34,4 +34,4 @@
 //

[2017-03-09 09:01] vmarkovtsev commented on #2
Yeah, I wrote this code when go-git v4 was under heavy development. The API changed since the last time. I summon @alcortesm since he was working on diff trees.

[2017-03-09 10:04] alcortesm commented on #2
Yes, go-git v4 was, and still is, under development and its API changes frequently.

The best way to solve this problem would be to keep Hercules updated with go-git v4 (a moving target until we release it) or to port it to go-git v3 which is the current production ready version.

The errors you are seeing are caused by the fact that Hercules is importing `gopkg.in/src-d/go-git.v4` but that is no

[2017-04-21 09:56] #2 closed

[2017-04-21 09:57] vmarkovtsev commented on #2
@kohlerm Sorry for such a long reaction

[2017-04-21 12:40] quentin-sommer opened #3 "getting the package fails because of plumbing/difftree"
command `go get gopkg.in/src-d/hercules.v1` result in this :
[code]

[2017-04-21 13:17] #3 closed

[2017-04-21 13:19] vmarkovtsev commented on #3
@quentin-sommer Sorry, forgot to update the tag. Besides, you should exec

[code]

[2017-04-21 13:23] quentin-sommer commented on #3
Thanks ! I did try this one before but then tried the root to see if it helped :)

[2017-04-21 13:24] kohlerm commented on #2
Thanks!
Unfortunately still does not work.
Upgraded to go 1.8.1 and a new machine.
I get
go get gopkg.in/src-d/hercules.v1/cmd/hercules
# gopkg.in/src-d/hercules.v1/cmd/hercules
cmd/hercules/main.go:37: repository.Commit undefined (type *git.Repository has no field or method Commit)
cmd/hercules/main.go:77: undefined: git.NewFilesystemRepository
cmd/hercules/main.go:82: undefined: git.NewMemoryRep

[2017-04-21 13:51] vmarkovtsev commented on #2
@kohlerm Please `got get` from scratch, because it is reported that it works in #3 and in [Travis](https://travis-ci.org/src-d/hercules)

[2017-04-21 15:10] kohlerm commented on #2
ah ok strange, I tried a clean build with go 1.6 which failed. Then updated to go 1.8. now deleting everything, it works!
Thanks!

[2017-05-17 01:46] vearutop opened #4 ""internal diff error" and panic"
With version
[code]

[code]

[code]

[2017-05-17 04:52] vmarkovtsev commented on #4
Thank you! Will have a look.

[2017-05-19 14:21] saintnik2015 commented on #4
Same issue

[2017-05-21 19:07] #4 closed

[2017-05-21 19:07] vmarkovtsev commented on #4
@vearutop @saintnik2015 Guys I seem to fix this, please test

[2017-05-23 15:48] saintnik2015 commented on #4
After reinstalling hercules ab initio it works well.

[2017-06-03 13:47] AlekSi opened #5 "IndexError in labours.py"
[code]
[code]

[2017-06-03 16:31] vmarkovtsev commented on #5
Thanks! I believe I fixed this.

[2017-06-03 16:32] vmarkovtsev commented on #5
![reform](https://cloud.githubusercontent.com/assets/2793551/26755306/fd8b7cb6-488a-11e7-8d5a-649c44cd27a6.png)

[2017-06-03 16:49] vmarkovtsev commented on #5
There is still an anomaly with the ending.

[2017-06-05 13:45] vmarkovtsev commented on #5
![reform](https://cloud.githubusercontent.com/assets/2793551/26786177/f9e6526c-4a05-11e7-8cf4-3b676b6c0729.png)

[2017-06-05 13:45] #5 closed

[2017-07-18 11:51] vmarkovtsev opened #6 "People: case sensitive, no.mailmap"
https://twitter.com/tmarkhor/status/887267287149010944

[2017-08-03 21:50] vmarkovtsev opened #8 "Churn stack: no <unidentified> person"
If we specify `-people-dict`, we do not see `<unidentified>` in the churn stackarea plot.

[2017-08-10 20:54] bzz opened #9 "Coupling calculations fails on Swivel import"
Under the virtualenv

[code]

Fails with

[code]

[2017-08-11 06:08] #9 closed

[2017-08-11 06:38] vmarkovtsev commented on #6
Status: case sensitivity was cured, `.mailmap` is still not parsed.

[2017-08-11 06:41] vmarkovtsev opened #11 "Pipeline.Commits() lacks side branch commits"
`Pipeline.Commits()` returns the commits from the main branch. This simple algorithm discard commits in side branches and produces an incomplete (but integral) history. We need to think how we can include as many side commits as possible.

[2017-08-13 19:34] vmarkovtsev commented on #6
`.mailmap` added in 4882081

[2017-08-13 19:34] #6 closed

[2017-08-16 14:22] vmarkovtsev opened #12 "Panic on emberjs"
@Serabe found:

[code]

[2017-08-16 14:31] vmarkovtsev commented on #12
[code]
So somehow ember.js devs were able to commit a submodule without editing `.gitmodules`. The solution is not obvious... Somehow I need to check the object type in the parent tree.

[2017-08-16 15:28] #12 closed

[2017-08-16 15:54] vmarkovtsev opened #13 "Provide binary releases and Docker"

[2017-08-25 15:16] marnovo opened #16 "Panic: repository already exists"
When you run `hercules` in a remote URL repository after it was already run once (thus it is in the `/tmp/repo-cache` folder, for example), you get a `panic: repository already exists`error message.

Hercules could either download the repository again (which could have been updated, for example) or just skip it since it is already in place (in this case you miss any updates in the remote repo) ins

[2017-08-25 15:44] vmarkovtsev commented on #16
All right, looks like the cache feature is not properly covered in the manual.

This is what's happening. The first run stores the repo into `/tmp/repo-cache`. The second run tries to store the repo again but fails because the directory is not empty. What you should instead run is

[code]

I will update the readme.

[2017-08-25 16:06] vmarkovtsev commented on #16
Fixed in https://github.com/src-d/hercules/commit/733728cae1b9f8f19c727b33da7f69c296f7830c

[2017-08-25 16:06] #16 closed

[2017-08-25 16:19] marnovo commented on #16
I'd still say a more appropriate behavior would be _not_ panicking and either using the cache or redownloading the repo (depending on the flag or the user input). However, 733728c already helps with user debugging the eventual error. 👍

[2017-09-18 16:07] engel75 opened #18 "Add support for multiple repositories"
would be great to add the option to analyze multiple repositories and merge the statistics? I would like to analyze http://git.openstack.org.

All the best,
Flo

[2017-09-18 16:16] vmarkovtsev commented on #18
Thanks for the suggestion! Indeed, it should be possible. Put on my list.

[2017-09-22 10:28] engel75 commented on #18
great!

[2017-10-02 08:40] vmarkovtsev commented on #18
PRs welcome! 🍺

[2017-10-02 08:42] vmarkovtsev commented on #11
PRs welcome! 🍺
This one is especially fun - diff-ing multiple branches at once.

[2017-10-02 09:04] vmarkovtsev opened #20 "Refactor cmd/hercules to automatically add the dependencies"
Current [cmd/hercules/main.go](https://github.com/src-d/hercules/blob/master/cmd/hercules/main.go) is completely hand-crafted. It is needed to code the struct with all the available [PipelineItem](https://github.com/src-d/hercules/blob/master/pipeline.go#L16)-s and add all the dependencies for the top level analyses automatically.

Some of the items must be configured. I would suggest to define fa

[2017-10-02 09:04] vmarkovtsev commented on #20
PRs welcome 🍺

[2017-12-07 22:03] vmarkovtsev commented on #20
This is done.

[2017-12-07 22:03] #20 closed

[2017-12-18 22:46] vmarkovtsev commented on #11
Current plan: clone the pipeline at every fork; cloning should have partially shared state, e.g. burndown counters.

[2017-12-28 07:17] vmarkovtsev commented on #18
Implemented. Please use `hercules-combine`. The build process was changed, now you have to use `make`. The cmdline usage was also changed. README should cover everything.

[2017-12-28 07:17] #18 closed

[2017-12-29 21:36] vmarkovtsev commented on #11
Wow, not so fast!

[2018-01-16 22:27] smacker opened #49 "Hercules fails on facebook/react"
[code]

[2018-01-16 22:28] smacker opened #50 "Hercules fails on emberjs/ember.js"
[code]

[2018-01-16 22:30] smacker commented on #49
similar error on `vuejs/vue`

[2018-01-16 22:31] vmarkovtsev commented on #50
This is known: ember repo sucks. https://github.com/src-d/hercules/issues/12

[2018-01-16 22:31] #50 closed

[2018-01-16 22:32] vmarkovtsev commented on #12
The solution is to use `--ignore-missing-submodules` option.

[2018-01-22 11:36] vmarkovtsev commented on #49
`--no-diff-cleanup` fixes this error. Looks like the "automatic awesomizer" is not very awesome.

[2018-01-22 12:02] #49 closed

[2018-01-22 12:50] vmarkovtsev commented on #49
This is fixed, no extra option is required and `v3` tag is updated. Thanks for reporting!

[2018-01-26 17:28] vmarkovtsev commented on #13
Fixed: there are compressed binaries for linux 64, macos 64 and windows 64 in the Releases. Docker image is updated on every `git push`

[2018-01-26 17:28] #13 closed

[2018-01-28 20:28] bzz opened #59 "Support for Siva as an input format"
Right now AFAIK hercules does support repository URL or path in local FS to a cache as an input.

It would be great if a path to file in [Siva archive format](https://github.com/src-d/go-siva#%C5%9Biva-format-%E0%A4%B6%E0%A4%BF%E0%A4%B5---) could be supported as well.

[2018-01-28 21:47] vmarkovtsev commented on #59
Thank you @bzz - this is exactly my thoughts this weekend.

We need to decide what to do with multiple logical repositories (`HEAD`-s) inside: merge them unconditionally or provide a way to select the branch(es).

[2018-01-31 17:18] requiel20 opened #60 "Crash on analyzing Microsoft/vscode"
I have the repo locally:

[2018-01-31 17:23] vmarkovtsev commented on #60
Thanks for your report! Can you please try with `--ignore-missing-submodules`?

[2018-01-31 18:45] requiel20 commented on #60
That did the job, sorry it was also in the help output

[2018-01-31 18:50] #60 closed

[2018-04-04 11:05] schneider-simon opened #69 "Analyzing repositories with deleted submodules"
Hello,

first of all I want to thank you for open sourcing this amazing tool. It is a lot of fun to play around with it.

Unfortunately, I found an issue while running the following command:
```hercules --burndown https://github.com/angular/angular >angular_angular.yaml```

Resulted in:
[code]

And if we take a look at the commit [https://github.com/angular/angular/commit/61ceed5bf641e3001776332e1

[2018-04-04 11:10] vmarkovtsev commented on #69
Hi @schneider-simon

Please try `--ignore-missing-submodules` command line option. It should happen because the submodule objects exist in a commit but are removed from `.gitmodules`. Sanity violation I often observe in some large projects. I am considering turning this error into a warning.

[2018-04-04 11:24] schneider-simon commented on #69
Adding `--ignore-missing-submodules` worked like a charm. Should have looked in the `--help` before 🙈 Adding a warning sounds like a good idea, since the error message itself can be a bit confusing.
Thank you for the tip.

[2018-04-04 11:24] #69 closed

[2018-04-28 23:03] JeffCarpenter opened #71 "Build instructions missing step"
When I ran `make` it throw an error about missing `protoc` (available as `protobuf-compiler` on Ubuntu and CentOS).

[2018-04-29 06:44] #71 closed

[2018-06-22 03:05] murphygithub opened #77 "build error, library not found for tensorflow"
# github.com/tensorflow/tensorflow/tensorflow/go
ld: library not found for -ltensorflow
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make: *** [/Users/macbook/go/bin/hercules] Error 2

[2018-06-22 06:05] vmarkovtsev commented on #77
Hi! Tensorflow needs a special installation. Please follow the official manual https://www.tensorflow.org/install/install_go

[2018-06-22 06:05] #77 closed

[2018-06-23 09:33] murphygithub opened #78 "docker run failed issue"
docker run --rm srcd/hercules hercules --burndown --pb https://github.com/git/git | docker run --rm -i -v $(pwd):/io srcd/hercules labours.py -f pb -m project -o /io/git_git.png

 get below msg

Traceback (most recent call last):
  File "/usr/local/bin/labours.py", line 1258, in <module>
    sys.exit(main())
  File "/usr/local/bin/labours.py", line 1121, in main
    reader = read_input(args)
  Fil

[2018-06-23 09:52] vmarkovtsev commented on #78
Hi! Do you mean that this error happens when you execute `docker run`? If so, why "docker install failed issue"?

[2018-06-25 09:16] #78 closed

[2018-06-25 09:18] vmarkovtsev commented on #78
Should be fixed now. Thanks for reporting.

[2018-06-25 16:43] murphygithub commented on #78
Just try and got same error

docker run --rm srcd/hercules hercules --burndown --pb https://github.com/git/git | docker run --rm -i -v $(pwd):/io srcd/hercules labours.py -f pb -m project -o /io/git_git.png

Reading the input...

Traceback (most recent call last):
  File "/usr/local/bin/labours.py", line 1258, in <module>
    sys.exit(main())
  File "/usr/local/bin/labours.py", line 1121, in main

[2018-07-11 11:34] monperrus opened #80 "question: what's the recommended practice to install libtensorflow.so?"
I'm getting error `./hercules.linux_amd64: error while loading shared libraries: libtensorflow.so: cannot open shared object file: No such file or directory`

What's the recommended practice to install the right version of libtensorflow.so on Linux/Debian?

Or can `./hercules.linux_amd64` be statically linked?

[2018-07-11 12:13] vmarkovtsev commented on #80
Unfortunately, lib tensorflow does not support static linking (I studied that much). So it has to be installed as written in https://www.tensorflow.org/install/install_go

[2018-07-14 13:55] monperrus commented on #80
ok thanks.

[2018-07-14 13:55] #80 closed

[2018-07-24 22:40] #11 closed

[2018-08-15 15:05] #59 closed

[2018-09-11 22:56] PatrickAuld opened #102 "Non-deterministic `RuntimeWarning`"
I have seen the below error multiple times on different repos. Running the exact command again does not reproduce the issues reliably. I'm only seen this running against git repos on the local disk; it has never occured while running against an `https://` or `git://` URL (but I have run far fewer of those). I'm using the Docker containers to run both hercules and labours.py. Sorry for the slight f

[2018-09-12 14:45] vmarkovtsev commented on #102
Thanks for reporting @PatrickAuld

This error seems to happen while calculating the lifetime index and is not directly used in the plotting. The bigger the index, the more stable the repository. So it can be safely ignored.

The cause is the division by zero. You extract `--burndown-people` and that lifetime index is calculated per developer. There seem to be a developer without any tracked line i

[2018-09-14 06:30] PatrickAuld commented on #102
I'll run it a few more times this weekend and see if I can reproduce.

[2018-09-19 13:58] alippai opened #106 "Panic: file x already exists"
I'm trying to run hercules against my repo:

[code]

Using (v4 on Windows): https://github.com/src-d/hercules/releases/download/v4/hercules.win64.zip

[2018-09-19 14:51] vmarkovtsev commented on #106
Try with `--first-parent`, does the problem persist?

[2018-09-20 07:41] alippai commented on #106
It works this way!

[2018-09-20 09:08] vmarkovtsev commented on #106
All right you've got a workaround - it does not analyze all the commits but should be enough for plain `--burndown`. I wonder how I can reproduce this error. I guess the code is under NDA so I cannot take it - so I am closing the issue for now. If anybody else hits the same bug on an open source project, please report here and I will reopen.

[2018-09-20 09:16] alippai commented on #106
You are awesome and indeed it's under NDA. I'm not familiar with go, so I assume it would be hard to debug this repository.

[2018-09-20 09:43] alippai opened #107 "Ignore file name or path patterns"
Is it possible, to ignore a file pattern? package-lock.json files for javascript applications are huge

[2018-09-20 09:51] vmarkovtsev commented on #107
It is really not obvious from `--help` (my bad) but the following should work: `--skip-blacklist --blacklisted-dirs=path/to/package-lock.json`. If that file is on the root level: `--skip-blacklist --blacklisted-dirs=package-lock.json`

[2018-09-20 09:55] alippai commented on #107
I didn't realize there is --help, I'm more used to README.md (where there is no mention). I'm going to play with this all day, good bye productivity :D

[2018-09-20 13:18] vmarkovtsev commented on #107
Resolved by https://github.com/src-d/hercules/pull/109

[2018-09-20 13:18] #107 closed

[2018-09-28 21:15] doty-pivotal commented on #106
As requested:

I am running the following:

[code]

I built from source at commit 9b8478df11253bbe0b38eee7cca40142369c82b7 - `go version go1.10.1 darwin/amd64`

If I run

[code]

Please let me know what I can do to help with this issue.

[2018-09-28 22:42] doty-pivotal commented on #106
Interesting that this also fails on the Postgres source code:

[code]

[2018-09-29 04:31] vmarkovtsev commented on #106
Great, now that I am able to reproduce I will fix soon. Thanks for reporting.

[2018-10-02 09:41] vmarkovtsev commented on #106
External contributions are welcome here!

[2018-10-02 09:52] vmarkovtsev opened #111 "Add the commits by developer chart"
When I [presented on ICSME](http://vmarkovtsev.github.io/icsme-2018-madrid/), I saw a nice concept from CQMS about showing commits per developer:

![commits](https://user-images.githubusercontent.com/2793551/46341769-61243b00-c639-11e8-9466-63c47e0e7422.png)

The X axis is time, Y axis is rows for each developer, the marks are commits.

We should go a little further here and apply the [Kernel Dens

[2018-10-11 07:34] vmarkovtsev commented on #106
The cause for this is skipping certain file deletions as they become binary and go out of sight. They become binary because the current algorithm in Hercules checks for invalid utf-8 which is more strict than simply scanning for `\0`.

[2018-10-15 13:45] vmarkovtsev commented on #102
Considering as resolved. Please reopen if the problem returns.

[2018-10-15 13:45] #102 closed

[2018-10-15 15:13] #106 closed

[2018-10-15 17:14] vmarkovtsev commented on #106
@doty-pivotal fwiw (postgres)

![pg](https://user-images.githubusercontent.com/2793551/46966628-8cce0900-d0ae-11e8-88d1-98c41e0bf37d.png)

![own](https://user-images.githubusercontent.com/2793551/46966632-9192bd00-d0ae-11e8-9894-8f273566a876.png)

[2018-10-15 18:49] doty-pivotal commented on #106
This is awesome - I will take it for a spin on GPDB as soon as I can.

[2018-10-16 17:57] doty-pivotal commented on #106
![project_23_x_7985_ granularity_30 _sampling_30](https://user-images.githubusercontent.com/26942209/47036843-9dc45c00-d13a-11e8-8ee0-e63d9f6df679.png)

Here is GPDB. Looking forward to digging in to more.

[2018-10-23 12:40] marsmensch opened #120 "burndown fails for some repos with "$COMMIT does not have a branch assigned""
Tested with the newest v5 release on OS X 10.12.6 (16G1510).

Example failing run:

[code]
Thanks a lot for your work!

[2018-10-23 14:10] vmarkovtsev commented on #120
Thanks for reporting! The workaround is `--first-parent` while I am fixing the bug.

[2018-10-23 15:03] marsmensch commented on #120
Thank you! Really excited about your work, awesome and great potential!

[2018-10-23 18:22] vmarkovtsev opened #123 "Add the plot of bugs per person/unit through time"
It is possible to classify each commit as bugfix or not using its message. If it is a bugfix, we record the owners of the changed lines and consider that the bug is theirs. We also record the structural units (functions, classes and files) and relate bugs to them.

[2018-10-25 08:47] vmarkovtsev opened #126 "Use dep for dependency management"
There is no dependency management at the moment.

[2018-10-25 15:33] #120 closed

[2018-10-25 15:33] #126 closed

[2018-10-25 17:17] vmarkovtsev commented on #120
@marsmensch Fixed.
![dash](https://user-images.githubusercontent.com/2793551/47518212-97488980-d88a-11e8-87d9-5b1515b40905.png)

[2018-10-25 17:18] vmarkovtsev opened #128 "Steal the nice plot style from Erik's theseus"
Erik has recently updated his Python burndown tool and the new plot style is very nice. See what can be used for Hercules.

[2018-10-25 20:56] #128 closed

[2018-11-20 13:13] vmarkovtsev opened #132 "Add the detection of systematic changes"
Based on [Mining Change Histories for Unknown Systematic Edits](http://soft.vub.ac.be/Publications/2017/vub-soft-tr-17-04.pdf) by @timmolderez

[2018-11-26 17:20] vmarkovtsev opened #134 "Add commits by hour chart"
Commits / 24 hours / each developer + dynamic time warping + TSP ordering == team detection.

[2018-11-27 13:20] #111 closed

[2018-12-09 18:02] smacker opened #138 "Burndown files empty history panic"
[code]

the same error happens on master

[2018-12-10 08:39] vmarkovtsev commented on #138
Thanks for reporting. This error appears only with `--burndown-files`. The fix is simple, stay tuned.

[2018-12-14 09:17] vmarkovtsev commented on #123
This requires:

- Extracting the incremental blame into an intermediate pipeline item
- Using that item for Burndown and this analysis.

[2018-12-14 09:18] #138 closed

[2018-12-14 09:19] vmarkovtsev commented on #8
Hi Vadim from the past, I am finally here to resolve this bug.

[2018-12-14 13:44] vmarkovtsev commented on #8
This has been fixed somehow.

[2018-12-14 13:44] #8 closed

[2018-12-14 14:00] vmarkovtsev opened #142 "OOM on k8s burndown with merges"
Hercules consumes more than 128GB memory for burndown analysis on k8s with merges inspected. There can be a memory leak.

[2019-01-18 08:37] Gr33nbl00d opened #163 "slice bounds out of range error"
What i get after running
`hercules --devs <repo> | python labours.py -m devs`

 2417 / 29722  1h58m45spanic: runtime error: slice bounds out of range

goroutine 4816 [running]:
gopkg.in/src-d/hercules.v6/internal/plumbing.(*RenameAnalysis).blobsAreClose(0xc000a49580, 0xc04aa1e370, 0xc00c8b60a0, 0xc00b80ee48, 0x9, 0xc0933c3f90)
        c:/gopath/src/gopkg.in/src-d/hercules.v6/internal/plumbing/rena

[2019-01-18 09:58] vmarkovtsev commented on #163
This is clearly a crash @Gr33nbl00d

Can you send me the repo you analyzed; if it is not possible, I will try to suggest fixes but I will need your assistance to test.

[2019-01-18 10:54] Gr33nbl00d commented on #163
Hi no problem it is quite problematic to send you this repo as it is really big 1.7M Lines of Code and also im not allowed as it is confidential. Its is reproducable and crashes always on the same step with the same error. No Problem i will try to help :)

[2019-01-18 12:02] EgorBu opened #164 "[feature idea] measure code complexity & use it to estimate `score` per developer"
Hi,
2 points:
1) measure code complexity per file/class/function & build a distribution of complexities -> long tail will show files that could be considered for refactoring.
2) average complexity per developer based on his history of contribution -> it will show who tends to write complex code and who is not

[2019-01-18 12:34] vmarkovtsev commented on #163
OK. If you are able to build Hercules, then I can send you a patch which prints the hashes of the two offending compared Git blobs, then you execute `git show <hash>` for each and send me the output (file contents) through email. Does it sound good?

[2019-01-18 15:38] vmarkovtsev commented on #163
@Gr33nbl00d Please use the binary from "debug" release, it contains the patch: https://github.com/src-d/hercules/releases/tag/debug

[2019-01-18 22:18] vmarkovtsev commented on #142
This is fixed in v6

[2019-01-18 22:18] #142 closed

[2019-01-18 22:21] vmarkovtsev opened #166 "Plot number of changes to old code vs new additions"
Add another plot type for `--devs` stats: how many lines are changed + deleted vs added per time unit.

[2019-01-19 08:35] #166 closed

[2019-01-19 09:35] vmarkovtsev opened #168 "Refine added vs changed lines by solving LAP"
For each file change, we've got added and deleted lines. Some of them are sequential and we treat them as changed. We should solve a linear assignment problem over the left lines (deleted -> added) to determine moves and improve the changed tracking.

[2019-01-19 22:14] vmarkovtsev commented on #168
We have to measure the square distance matrix. 100 additions, 100 removals => 100000 distance evaluations. Will work very slow.

[2019-01-19 22:14] #168 closed

[2019-01-21 10:50] Gr33nbl00d commented on #163
thank you i will try

[2019-01-21 11:47] vmarkovtsev commented on #163
Good, so now I need you to run
[code]
And send me those two files. My email can be taken from e.g. https://github.com/src-d/hercules/commit/b8fb564c3acd2da61027c9f909a22e33c9c1626b.patch

[2019-01-21 14:52] Gr33nbl00d commented on #163
Ok no Problem take your time :) I am glad i could help and looking forward for your fix :)

[2019-01-23 13:43] EgorBu opened #172 "[bug] some file does not exist (histories)"
Hi,
`hercules` fails on this particular repository
[code]

[2019-01-23 15:21] vmarkovtsev commented on #163
@Gr33nbl00d

[2019-01-23 15:51] #172 closed

[2019-01-23 20:15] vmarkovtsev commented on #163
Should be fixed in https://github.com/src-d/hercules/releases/tag/v7

[2019-01-23 20:15] #163 closed

[2019-01-28 16:14] EgorBu opened #178 "[bug] internal integrity error"
Hi,
couple of repositories failed with this log.
Steps to reproduce - cache repository & launch `hercules.linux_amd64 --pb --burndown --burndown-people --devs --first-parent cache_dir`.
`hercules` has version `7.1.0`.
[code]
[code]

[2019-01-29 10:43] EgorBu opened #179 "[bug] panic: runtime error: slice bounds out of range"
Hi,
it looks like the problem https://github.com/src-d/hercules/issues/163 wasn't totally fixed
[code]

Repository: `https://github.com/grandnode/grandnode`
Hercules:
[code]

[2019-01-29 14:18] EgorBu opened #180 "[bug] failed to run the pipeline: file already exists"
Hi,
problem looks similar to  https://github.com/src-d/hercules/issues/106
[code]

Repository: `https://github.com/cloudera/hue`
Hercules:
[code]

[2019-01-29 15:37] #179 closed

[2019-01-29 15:59] EgorBu opened #182 "[bug] panic: runtime error: invalid memory address or nil pointer dereference"
Hi,

got this error log when I tried to combine results for several (1000) repositories:
[code]

And full log:

<details>
[code]

</details>

[2019-01-29 16:20] vmarkovtsev commented on #182
@EgorBu Since you've got all those `*.pb` files, can you please bisect to the offending file(s) and attach them here?

[2019-01-29 16:31] vmarkovtsev commented on #178
The core problem here is adding `--devs`. Works without it.

[2019-01-29 18:58] vmarkovtsev commented on #180
It explodes at `14536 / 15417` with `--burndown --first-parent`.

[2019-01-29 21:14] EgorBu commented on #182
I will check

[2019-01-30 09:51] #182 closed

[2019-01-30 14:42] EgorBu commented on #180
One more issue after update
[code]
Repository: `https://github.com/dotnet/cli`
Hercules `v7.2.0`

[2019-01-30 19:33] vmarkovtsev commented on #180
`17467 / 38331` :sob: This will be harder to reproduce

[2019-01-30 19:35] vmarkovtsev commented on #180
The actual progress is `1416 / 2548` and takes a minute, ok.

[2019-01-30 21:24] vmarkovtsev commented on #180
Root cause: https://github.com/src-d/go-git/issues/1057

[2019-02-06 13:38] vmarkovtsev opened #187 "Bugfix pattern mining"
- [ ] Add Hercules analysis to classify commits as bugfix and other appropriate classes
- [ ] Take the UAST difference algorithm implementation from https://github.com/quinor/sdk/tree/master/uast/diff
- [ ] Study how it performs on the real files
- [ ] Add Hercules analysis to extract the structured diffs
- [ ] Add Hercules analysis to mine bugfix patterns

TODO for @Jan21: add here the list of re

[2019-02-06 13:40] vmarkovtsev opened #188 "Commit classification"
Add Hercules analysis to classify commits. There must be a "bugfix" class. Other classes are a subject of discussion.

Available features:

- Regular diffs
- [go-cloc](https://github.com/hhatto/gocloc)
- Structured diffs via https://github.com/quinor/sdk/tree/master/uast/diff
- Commit messages

TODO for @Jan21: add here the list of relevant papers

[2019-02-06 16:05] m09 commented on #188
For the potential classes, the ones I have in mind would be:

- bugfix
- documentation
- refactoring
- feature

Then an interesting point to discuss is: do we want a single class per commit or one class per line/block or multiple classes per commit (without line/block tagging).

[2019-02-06 18:13] EgorBu commented on #188
About classification - it's possible to collect some labels from PRs in huge repositories like
* https://github.com/tensorflow/tensorflow/labels
* https://github.com/pytorch/pytorch/labels
* https://github.com/bigartm/bigartm/labels
* and so on

### Pattern mining
I like an idea of `pattern mining`.
I would suggest making commit `deduplication + community detection` / (or `clustering` / `topic mod

[2019-02-06 18:50] vmarkovtsev commented on #188
@EgorBu Can you please transplant this comment (great job btw!) to #187
This is the issue for commit classification.

[2019-02-06 19:00] EgorBu commented on #187
Copy-paste of https://github.com/src-d/hercules/issues/188#issuecomment-461127952

About classification - it's possible to collect some labels from PRs in huge repositories like
* https://github.com/tensorflow/tensorflow/labels and [bug related](https://github.com/tensorflow/tensorflow/labels?utf8=%E2%9C%93&q=bug)
* https://github.com/pytorch/pytorch/labels and [bug related](https://github.com/pyt

[2019-02-06 20:53] Jan21 commented on #188
Thanks a lot!
@m09 I've read few papers about commit classification and what people did in the past was to classify to 5 categories:

-  Corrective (bud fixes, corrections of wrong implementation, etc.)
-  Adaptive (Adapting to external changes, but I'm not 100% sure about this category)
-  Perfective (Performance enhancements, Maintainability)
-  Feature addition
-  Non functional (Legal, code cl

[2019-02-07 08:54] m09 commented on #188
@Jan21 interesting taxonomy. It maps quite well with the intuitive categories we come up with. I have to say I still like the last two though (`Feature addition` and `Non functional`) because if we try to fit a feature addition in the first 3 it should probably end up in `Adaptive`, but it doesn't feel right, and if we try to fit documentation or CI in `Perfective` it's already a bit better but no

[2019-02-08 14:42] EgorBu opened #190 "[bug] devs visualization fails"
Hi,
when I tried to launch this command
`python3 labours.py -m devs -i res.pb -o image.png`
I got
[code]

it happens because `YearLocator` doesn't have this argument ([link](https://matplotlib.org/api/dates_api.html#matplotlib.dates.YearLocator)).
As I understand the logic - it should be
`matplotlib.dates.YearLocator(base=max(1, interval // 12))`

[2019-02-08 18:05] vmarkovtsev commented on #190
@EgorBu Feel free to PR the fix :+1:

[2019-02-08 18:13] #190 closed

[2019-02-10 16:36] nono opened #193 "panic: context deadline exceeded"
Hello,

I've tried hercules on the github.com/cozy/cozy-stack repository, and it has failed with this error:

[code]

[2019-02-11 07:31] vmarkovtsev commented on #193
Hi @nono

This error signals that the Babelfish server (parser engine) is not running. You should launch it following the [docs](https://docs.sourced.tech/babelfish/using-babelfish/getting-started#running-with-docker-recommended).

[2019-02-11 16:28] #193 closed

[2019-02-12 22:52] vmarkovtsev opened #196 "Investigate results merging problems"
@EgorBu noted that there were problems with merging many burndown results together,

[2019-02-12 22:52] vmarkovtsev commented on #196
@EgorBu Can you please re-run with v7.3.2 and confirm that the problem persists.

[2019-02-15 22:10] #180 closed

[2019-02-19 06:47] vmarkovtsev commented on #196
Problems fixed in v8

[2019-02-19 06:47] #196 closed

[2019-02-25 15:05] erizocosmico opened #215 "Panic running hercules combine"
Panic running combine.

[code]

[2019-02-25 15:07] erizocosmico opened #216 "Panic running analysis"
panic: time may not be >= MaxUint32

[code]

[2019-02-25 15:14] vmarkovtsev commented on #215
Can you please send me the list of files which led to this crash. As a workaround, use `--only` and at least combine those analyses which are combinable.

[2019-02-25 16:58] vmarkovtsev commented on #216
How to reproduce:

[code]

where `/tmp/ident` is only one line.

[2019-02-25 18:59] #216 closed

[2019-02-28 06:49] vmarkovtsev commented on #215
Fixed in v8.3.2

[2019-02-28 06:49] #215 closed

[2019-03-06 01:11] bobheadxi opened #229 "'go mod' cannot pull dependencies"
There seems to be a dependency, imported as `github.com/jeffail/tunny`, that declares a `go.mod` file with the module path `github.com/Jeffail/tunny` (capital J). This causes `go mod` to break:

[code]

related: https://github.com/golang/go/issues/27154

[2019-03-06 10:23] vmarkovtsev commented on #229
Ouch... I haven't used modules in Hercules yet, so this went unnoticed. Does it mean that after merging #230 Hercules will be mod-compatible?

[2019-03-06 18:55] #229 closed

[2019-03-06 20:40] bobheadxi commented on #229
It should, though ideally someone would run `go mod init` to migrate over the `Gopkg.lock` resolutions as well

I think a new release needs to be tagged though, for the changes to show up in gopkg.in? I'm not familiar with the specifics of how gopkg.in works

Thanks!

[2019-03-06 21:41] vmarkovtsev commented on #229
Pushed v9.1.0

[2019-03-07 02:54] bobheadxi commented on #229
It's working with `go mod` now - thanks!

[2019-03-07 19:34] bobheadxi opened #233 "Resolve concurrency issues"
as demonstrated in #232 ([logs](https://travis-ci.com/src-d/hercules/jobs/183178481#L1331))

this seems to occur in the concurrent matching done here: https://sourcegraph.com/github.com/src-d/hercules@7e551355aef5fef8325a32471ba12ecd7ac05b89/-/blob/internal/plumbing/renames.go#L328:32

[2019-03-08 09:10] #233 closed

[2019-03-11 02:25] bobheadxi opened #235 "question: how to use samples"
Here's a `GlobalHistory` from a `burndown` I generated:

[code]

Just from reading the documentation regarding [granularity and sampling configuration](https://sourcegraph.com/github.com/src-d/hercules/-/blob/leaves/burndown.go#L40) and the [output](https://sourcegraph.com/github.com/src-d/hercules/-/blob/leaves/burndown.go#L113) I can't seem to work out how exactly to leverage this data, for exam

[2019-03-11 12:01] vmarkovtsev commented on #235
So the rows of the matrix are samples, and the columns are bands. A "band" is something that you measure, and a "sample" is a measurement event. We measure how many lines which appeared in a certain time interval are still not overwritten through time. Let's say that our band size - granularity - is 30 days, and our sampling frequency is 1 day. This means that we record **every day** how many line

[2019-03-12 18:47] bobheadxi commented on #235
thanks a lot @vmarkovtsev for the detailed response! I'll keep experimenting 😄

[2019-03-12 18:59] bobheadxi opened #237 "index out of range sometimes when burndown.PeopleNumber is provided"
I might just be holding it wrong, but on the repo https://github.com/ubclaunchpad/inertia.git, the following code:

[code]

panics when run with:

[code]

stacktrace:

[code]

running a similar configuration directly using `hercules` (I think) works:

[code]

i noticed that the [`--burndown-people` option sets the number of people based on `facts` instead](https://github.com/src-d/hercules/blob/ma

[2019-03-12 19:25] bobheadxi opened #238 "feature: finer granularity options for burndown"
While on *most* repos, 1 day is about as granular as you'll need, it would be nice to have the option to set granularity to, say, 0.5 days, or even some number of hours, to look at hackathon projects (which typically span just 24-48 hours).

For such short projects (e.g. https://github.com/launchpals/open-now), the burndowns don't present very interesting data (`granularity=1`):

[code]

I'm very

[2019-03-12 19:37] vmarkovtsev commented on #238
Indeed, the current code is pretty much nailed to days. However, I think that we can hack this by tricking everybody outside of `DaysSinceStart`. It is possible to add a command line argument to that item which changes the time scale. So "one day" for all the rest of the items may equal to 1 hour, 12 hours, etc.
Therefore "day" should be renamed to "tick" everywhere, and its length should be inclu

[2019-03-12 19:41] vmarkovtsev commented on #238
We can further simplify implementation by requiring the same real one-day tick length while merging Burndown results together (`BurndownAnalysis.MergeResults`).

[2019-03-17 05:33] bobheadxi opened #244 "feature: allow a pluggable logger"
right now as a library Hercules uses the std `log` directly - it'd be nice to introduce a small `logger` interface that can be optionally fulfilled by another logger. otherwise if nothing is provided, Hercules can use the standard logger as it does currently.

I can implement this once I finish #238 !

[2019-03-17 06:29] vmarkovtsev commented on #244
:+1:
There are still some spots left with plain `println` btw.

[2019-03-17 08:58] bobheadxi opened #246 "chore: assert statements mostly use wrong order"
according to the [official documentation](https://godoc.org/github.com/stretchr/testify/assert), what you **expect** should come first, and what you **actually get** should come second, for example:

![image](https://user-images.githubusercontent.com/23356519/54487852-0b92c200-4858-11e9-8382-6b0b107cf3ba.png)

so assert statements like:

[code]

should actually be:

[code]

otherwise, you get mild

[2019-03-18 15:35] vmarkovtsev commented on #235
Shall we close this @bobheadxi?

[2019-03-18 15:38] vmarkovtsev commented on #246
Yes, this is rooted in my experience with other testing frameworks where the arguments order is not Yoda-style. It would be nice to change everywhere, but the amount of required boring work has always stopped me.

[2019-03-18 15:42] vmarkovtsev commented on #237
This is some legacy side effect, thank you for thorough testing. I think the best way to fix this is to remove `PeopleNumber` and make `reversedPeopleDict` public. Then all the places which check `PeopleNumber` should be changed to check `len(ReversedPeopleDict)` instead.

[2019-03-18 17:07] bobheadxi commented on #235
Yep, I'll close this for now thanks!

[2019-03-18 17:07] #235 closed

[2019-03-18 23:16] bobheadxi opened #247 "update protobuf dependencies and enforce tooling versions via make"
see https://github.com/src-d/hercules/pull/245#issuecomment-474106772 and related comments

[2019-03-19 09:35] abirhajji opened #248 "No data has been read"
This is what I get after running
`hercules --couples <repo> | python labours.py`

`Total 666412 (delta 518548), reused 652325 (delta 506610)                                                                                                                                        No data has been read - has Hercules crashed?`

[2019-03-19 09:42] vmarkovtsev commented on #248
Try

[code]

and see if there is any output. According to the log, no analysis happened at all.

[2019-03-19 10:07] abirhajji commented on #248
Hi,
I tired
`hercules --couples <repo> >result.json`

the result.json is empty and this what it gives
`

2 / 21049 [>------------------------------------------------] 32m59s [331616e] Killed
--

`

[2019-03-19 10:22] vmarkovtsev commented on #248
You can check `dmesg`: most likely you get an OOM. Try to monitor the memory consumption with `/usr/bin/time -v hercules --couples <repo>` (**not** `time -v ...`).
In case you clone the repo while doing the analysis, you need to clone it on disk and read from disk instead of cloning in Hercules: it puts all the Git packfiles in memory.

[2019-03-19 19:41] #238 closed

[2019-03-20 22:23] vmarkovtsev opened #250 "Typos collection fails on some repos"
For example, `git://github.com/denistrator/php-lessons-lesson-4`

[2019-03-21 14:23] efx opened #252 "question: how to remove duplicate color bands in people burndown?"
Thank you for building this tool!
I noticed for repositories that have numerous contributors, the plot color bands repeat:
Specifically in the ember.js example, the dark orange color repeats for 3 distinct contributors.
https://github.com/src-d/hercules#code-ownership

Is there a way to configure `labours.py` so it will generate bands using distinct colors?

[2019-03-21 15:07] vmarkovtsev commented on #250
Fixed by https://github.com/src-d/hercules/pull/251

[2019-03-21 15:07] #250 closed

[2019-03-21 15:17] vmarkovtsev commented on #252
You can try different `--style` values, but it will not help much, probably. This is a built-in Matplotlib limitation, it repeats the colors once the color scheme is exhausted. Ideally, the plots should be interactive and web-based, but there is no internal HR for that currently. There is also [hercules-web](https://github.com/smacker/hercules-web) by my colleague @smacker

[2019-03-21 21:59] vmarkovtsev commented on #248
Assuming this as resolved. Please ping here if there is something left.

[2019-03-21 21:59] #248 closed

[2019-03-22 12:45] vmarkovtsev opened #254 "Kaplan-Meier of contributors"
It would be cool to have an analysis of contributor retention. Kaplan-Meier scheme should fit well.
Reference: https://erikbern.com/2017/05/23/conversion-rates-you-are-most-likely-computing-them-wrong.html#the--way-to-look-at-conversion-rates--kaplan-meier (we can look at it as a classic conversion problem, yes).

An example from the academic wild: http://gustavopinto.org/lost+found/msr2019b.pdf

[2019-03-23 01:32] bobheadxi opened #257 "unable to import v10"
[code]

it doesnt show up on `gopkg` either: https://gopkg.in/src-d/hercules.v9

the `gopkg` documentation implies the tag must begin with a `v`, whereas the version 10 tag is just [`10.0.0`](https://github.com/src-d/hercules/releases/tag/10.0.0) currently:

![image](https://user-images.githubusercontent.com/23356519/54859973-ca276a00-4cd0-11e9-8cde-9e8c72983464.png)

[2019-03-23 06:35] vmarkovtsev commented on #257
Yeah, I am debugging the Python package deployment, everything is broken currently, and I have to force push to master because it is the only way to test PyPi Travis deployment.

[2019-03-23 07:40] bobheadxi commented on #257
Was able to successfully pull `v10` with the [new tag](https://github.com/src-d/hercules/releases/tag/v10.0.0) - thanks!

[2019-03-23 07:40] #257 closed

[2019-03-25 21:19] bobheadxi opened #260 "burndown with granularity != sampling panics"
There doesn't seem to be anything in the documentation explicitly saying that granularity can't be different from burndown, so could this be a bug introduced by #245 ? I read through the burndown code and where it panics ([when merging histories](https://sourcegraph.com/github.com/src-d/hercules/-/blob/leaves/burndown.go#L1509:43)), but can't seem to decipher what might be going on.

* sampling !=

[2019-03-25 21:26] bobheadxi commented on #260
Just tried it with v9 and can confirm it was an issue back then, so this might *not* be related to #245 :

[code]

[2019-03-25 21:27] vmarkovtsev commented on #260
Sampling and burndown are not bound together and can be arbitrary. According to the stack trace, there is an invalid commit "from the future". Actually, `groupSparseHistory` is trivial compared to `addBurndownMatrix` so it could be much worse :smile:

You should debug how this record "from the future" appeared.

[2019-03-25 21:38] bobheadxi commented on #260
Hm, the same issue occurs with a burndown on Hercules itself on V9 of the CLI:

[code]

[2019-03-25 21:45] vmarkovtsev commented on #260
Yep, crashes for me too. Any combination with granularity > sampling crashes. Can it be a feature, not a bug :thinking:

[2019-03-25 21:52] bobheadxi commented on #260
haha perhaps 😋

[2019-03-26 17:42] monperrus commented on #80
Thanks to @m09 retrying today, it compiles, it works!

[2019-03-29 09:20] manuel-koch opened #263 "Unable to "pip install labours" on Mac OSX Mojave"
I'm trying to install labours as suggested by the README:

My env is
[code]

[code]

Any help appreciated !

[2019-03-29 09:24] vmarkovtsev commented on #263
@manuel-koch The error is about installing `ortools`. The versions which your pip suggests are quite old, because the [most recent one is 7.0.6546](https://pypi.org/project/ortools/). Clear pip cache? Sometimes it is stuck.

[2019-03-29 09:26] vmarkovtsev commented on #263
Closing this since this is a problem with a third-party package.

[2019-03-29 09:26] #263 closed

[2019-03-29 09:37] manuel-koch commented on #263
Hm... `pip install --no-cache-dir labours` failed with same error.
Anything else I can try ?

[2019-03-29 09:41] manuel-koch commented on #263
Seems like the latest version of `ortools` is not available for my environment:
[code]

[2019-03-29 09:53] manuel-koch commented on #263
Created a ticket in ortools: https://github.com/google/or-tools/issues/1164

[2019-03-29 09:57] manuel-koch commented on #263
ortools doesn't seem to support Python 3.6 anymore.

[2019-03-29 10:18] vmarkovtsev commented on #263
@manuel-koch I will set the lower bound to 6.7.4973, hope it will help.

[2019-03-29 10:44] vmarkovtsev commented on #263
Done. `seriate==1.0.1` has been published, you can force it by `pip install seriate==1.0.1` and then `labours` should install.

[2019-03-29 10:58] manuel-koch commented on #263
Thanks ! That fixed my install problem :-)

[2019-03-29 14:39] manuel-koch commented on #263
The issue has been resolved in `ortools` too ( see ticket mentioned above ), thus your workaround may not be needed for python 3.6.4.
With latest `ortools` package I was able to install `labours` without your suggested workaround from scratch.
Anyway thanks for your quick response !

[2019-04-02 12:42] nitishMehrotra opened #265 "Possible reason for "Devs stats were not collected" error"

[2019-04-02 13:27] vmarkovtsev commented on #265
The possible reasons vary from high energy particles swapping a single bit in RAM to some secret CIA rootkit interfering with your OS.

[2019-04-02 14:42] nitishMehrotra commented on #265
Apologies for not being explicit about the error. I am trying to use hercules on one of our internal code repos and I am getting the error stated above. Its similar to this issue https://github.com/src-d/hercules/issues/190 but with no details about the error.

Any suggestions on ow to debug this error?

[2019-04-02 15:42] grimsquirrel opened #266 "v 10.0.0 --devs does not trigger collection of devs stats."
hercules --devs d:\localrepo\ngc | labours -m all >> output text file

v10.0.0  when switch --devs used, labours complains devs stats were not collected.  when i replace v10.0.0 herc executable with v8.3.2, labours process output correctly.
[output_v8.3.2.txt](https://github.com/src-d/hercules/files/3034776/output_v8.3.2.txt)
[output_v10.0.0.txt](https://github.com/src-d/hercules/files/3034777/out

[2019-04-02 17:20] vmarkovtsev commented on #265
I believe that this is the problem as in #266. It is fixed in the current master, though a new release will take a few days to make.

[2019-04-02 17:21] vmarkovtsev commented on #266
Hi @grimsquirrel, I think that this is a duplicate of #265
Workaround: use `--pb`.

[2019-04-02 17:21] #266 closed

[2019-04-06 17:43] vmarkovtsev commented on #265
The fix was released in 10.0.1

[2019-04-06 17:43] #265 closed

[2019-04-06 19:52] remram44 opened #267 "Ownership plot still shows ownership after files were deleted"
A significant portion of my ownership plot is taken from contributors whose files I deleted.

To reproduce:
[code]
![ownership.png](https://user-images.githubusercontent.com/426784/55674535-fff95080-5883-11e9-8417-cfb55297f723.png)

All files from Manfred Touron were [deleted in 2015](https://github.com/ViDA-NYU/reprozip/commit/68cda790e3f91057b3293df6524ca3533dd4548e), but there is no change in t

[2019-04-07 07:16] vmarkovtsev commented on #267
Thanks, I will have a look. Most likely, there is an undeleted branch which still has those files.

[2019-04-07 08:46] senden9 opened #268 "[labours] overflow encountered in ulong_scalars"
Hi!

I tried hercules on a quite big private repository of our company. It seems that something in labours overflows. The repository use LFS if that matters.

# CLI Output
[code]

# Versions
[code]

[2019-04-07 09:50] vmarkovtsev commented on #267
The files from the pointed commit are actually correctly removed from the stats. However, `uml-builder/.config`, which appears in `0752cca7abfd1d625db756d0fc7d4e9b881536e0`, gets removed during the merge `5da973251d3402230a429d09aa827e51072aeba1`. Merge commits are an ownership stats nightmare, investigating further.

[2019-04-07 10:03] vmarkovtsev commented on #267
Yes, the core problem is that I am incorrectly handling **full file** deletions and insertions during merges. Nice one.

[2019-04-07 12:01] #267 closed

[2019-04-07 12:08] vmarkovtsev commented on #268
Thanks for testing.

Is it possible to send me the YAML file (no `--pb`) to the email from my GitHub profile? There should be nothing private inside except the repo name, which you can edit by hand.

The current workaround is obviously to increase granularity and sampling until it stops to overflow.

[2019-04-07 17:49] senden9 commented on #268
Thanks! Mail is out.

With `labours -m burndown-project --resample M < baukasten_burndown.yaml` it is working without a problem.

[2019-04-07 18:34] senden9 opened #270 "Hercules crashes with language filter"
Hi!

I tried hercules on a quite big private repository of our company. It crashes when I use the language filter. If we look at the CLI output below we see that the first variant without the `--languages csharp` runs and generate valid (and interesting, thanks!) data. When I add the language filter it crashes after some time.

[code]
As I can not give anyone access to the repository to reproduce

[2019-04-07 19:28] vmarkovtsev commented on #270
Yes, the language filter is not super solid right now, I noticed similar problems in the past myself. Should be fixed next week :construction_worker_man:

[2019-04-07 20:53] #244 closed

[2019-04-07 21:32] #268 closed

[2019-04-08 05:59] senden9 commented on #268
Thanks

[2019-04-08 11:08] aldanor commented on #270
Just to confirm, same here with `--languages python`:

[code]

It works till the very end and then crashes with 'empty history' (it's definitely not empty...):

[code]

[2019-04-09 06:20] vmarkovtsev commented on #270
The original error should be fixed - please ping here if not.

However, I think it may still fail sometimes on some repos. I will refer here once somebody reproduces.

[2019-04-09 10:49] aldanor commented on #270
@vmarkovtsev Thanks, that seemed to fix the original problem, but now there's more :/

The one I've been encountering with the private repo I've been testing it on is:

[code]

This error doesn't seem to occur without setting the language filter.

[2019-04-09 10:51] aldanor commented on #270
Here's another reproducible (probably unrelated to the previous one):

[code]

Doesn't seem to occur if language filter is removed.

[2019-04-09 11:06] vmarkovtsev commented on #270
This is the other one, exactly. Thanks, I will fix it.

[2019-04-09 11:39] aldanor commented on #270
Just tested it on a small repo:

[code]

Looks like it doesn't like empty files (or commits with those).

Re: the "integrity error" with the private repo I've mentioned above - in that commit it was actually kind of the same story -- a Python file was modified which had previously been empty (but existed in the repo), the integrity error crash was at the commit where it was modified.

[2019-04-09 14:42] vmarkovtsev opened #274 "EOF on empty files with a language filter"
Just tested it on a small repo:

[code]

Looks like it doesn't like empty files (or commits with those).

Re: the "integrity error" with the private repo I've mentioned above - in that commit it was actually kind of the same story -- a Python file was modified which had previously been empty (but existed in the repo), the integrity error crash was at the commit where it was modified.

_Originally

[2019-04-09 15:02] senden9 commented on #270
Confirm also as not fixed. But thanks for the fast reaction time :D

[code]

[2019-04-09 17:12] senden9 commented on #270
`c#` works!

Why I use "csharp":
[code]
Go to https://doc.bblf.sh/languages.html -> see that the key is named "csharp".

[2019-04-09 17:13] remram44 commented on #267
Thank you for the quick fix! I have confirmed that this fixes my problem completely.

[2019-04-09 20:56] #270 closed

[2019-04-09 21:24] #274 closed

[2019-04-11 07:38] fedorovsergey opened #277 "No output from hercules"
Hello! I am trying to burndown very large repo (/.git is 3.3 Gb).
Execute
`docker run -v <my/repo/path>:/repo srcd/hercules hercules --burndown --burndown-people --devs --print-actions --first-parent --pb /repo > result.pb`
Getting output
`git log...
С 1 c81d1aab84e48b3dd9dfcc5e013d10d719739fe3
С 1 fa6e952b5d9a768b4a2ff69fa4fdfdee31aadf47
` and so on. Scripts simply stop after a while on some comm

[2019-04-11 11:30] vmarkovtsev commented on #277
If you check your CPU usage during the "hang", you are likely to see 200%. The analysed commit most likely contains a huge number of removed and added files, and poor Hercules is trying to match them. Even though there are many clever tricks to speed up the matching, it is still fundamentally O(n²) operation.
There is another possibility: there are huge binary files in that commit, and they are al

[2019-04-11 11:34] vmarkovtsev commented on #277
I should add a switch to fully disable renames detection on huge commits I think.

[2019-04-11 12:46] Zebradil commented on #277
Well, I have the same issue and the problem is that the process finishes at some moment, but the output file is empty. I'm aware that the process slows down at some moments, but it seems like it's another case.

[2019-04-11 12:57] vmarkovtsev commented on #277
@Zebradil @fedorovsergey I need to reproduce it, there are too many things which can go wrong. You can have me signed an NDA if you are really determined, otherwise I need an open source example.

[2019-04-11 18:28] fedorovsergey commented on #277
I followed the advice to increase memory in virtualbox docker machine. 4gb solved my problem, output file created. But some error message would be great in this case. Thanks

[2019-04-25 00:40] jrotter opened #278 "hercules combine is mismatching timelines"
(I'm using the docker container, but will simplify my commands for this example.)  I am creating pb files with the following commands via the hercules docker container:
[code]
Then I use combine as follows:
[code]
The users in these two repositories are mutually exclusive.

Here's user1 in repo1.png:
![repo1](https://user-images.githubusercontent.com/5429149/56702025-f23f2a00-66cf-11e9-977e-d81259

[2019-04-25 06:19] vmarkovtsev commented on #278
This is a bug, thanks for reporting. When the series get merged, I miss the time delta. To be fixed this week.

[2019-04-25 13:06] jrotter commented on #278
Awesome, thank you!

[2019-04-25 21:31] #278 closed

[2019-04-25 21:32] vmarkovtsev commented on #278
Should be fixed in the current master.

[2019-04-25 21:35] vmarkovtsev commented on #278
Please ping here if it did not help, I will reopen at once.

[2019-05-14 14:01] r0mainK commented on #188
So I'll be taking over this issue at some point - I expect in a month or two. I read the literature in the past couple days, and thought about it. Regarding taxonomy, I think using the one [these guys](https://www.conventionalcommits.org) established might be a good idea, as it separates perhaps more accurately then academics do the different kind of commits - and also conveys more information. Th

[2019-05-20 12:14] m09 commented on #188
I also find your taxonomy easier to interpret for end users. If we want to go beyond unsupervised learning, we need to find a way to get data (preferably automatically), likely from GitHub issues as @EgorBu mentioned in a previous comment. It might prove hard/impossible to get data for this precise taxonomy though.

[2019-05-20 15:48] vmarkovtsev opened #284 "Fix ignoring whitespace"
Current behavior: we calculate diffs with removed whitespace. It is wrong because the new and deleted files are counted with whitespace characters. https://github.com/src-d/hercules/blob/a4d2b46b68bfa041cb0dddf0e348634d0b181799/internal/plumbing/diff.go#L139

Desired behavior: change BlobCache to remove whitespace at blob loading time.

[2019-06-01 00:41] DrEsteban opened #287 "Feature Request: Ability to specify a timerange for analysis"
For developers that have annual/semi-annual reviews, they may want the ability to show burndowns for a specific time range.  That is, show me my stats for the last "review period".  Rather than calculating the stats for the entire lifetime of the project.

[2019-06-01 05:39] vmarkovtsev commented on #287
@DrEsteban there are `--start-date` and `--end-date`, will they help in this case?

[2019-06-01 06:40] DrEsteban commented on #287
@vmarkovtsev Oh!  I didn't realize those were existing options.  I can't find them anywhere in the helptext `hercules --help`.  My version is:
[code]

[2019-06-01 06:50] vmarkovtsev commented on #287
That's the plotting layer, `labours`

[2019-06-21 09:14] warenlg opened #294 "[performance] The burndown analysis runs forever on the C++ driver repo"
I'm not able to process some driver repos from bblfsh codebase with the following command. Particularly the C++ driver https://github.com/bblfsh/cpp-driver that seems to be a small normal repo but the job runs forever: it has not finished after one night. Other driver repos are fine (less than 1 sec processing) apart from the JS and Go drivers that required 20min.
I used the version `9.2.0` of the

[2019-06-21 09:58] vmarkovtsev commented on #294
Questions:

- 100% CPU or 0% CPU when it hangs?
- bblfshd version?
- C++ driver version?
- Please show relevant (not all!) bblfshd logs.

[2019-06-21 10:43] warenlg commented on #294
100% CPU and it hangs on this commit `68d4981`

[2019-06-21 11:01] warenlg commented on #294
Same thing here actually,

https://github.com/bblfsh/go-driver/commit/26c8f55eab35de5648bd0a1cf8a663d32cf3c1fe
https://github.com/bblfsh/go-driver/commit/2995529cf147987ee244abef083aca8e915f1fee
https://github.com/bblfsh/javascript-driver/commit/f63272417f57f7d7675f832112ed44c92a1b4a1e

[2019-06-21 11:02] vmarkovtsev commented on #294
Root cause: too big text files make diffmatchpatch enter an infinite cycle. I need to add a timeout for diff-ing.

[2019-06-24 17:57] danielcorreia96 commented on #287
In case @DrEsteban wants to reduce the analysis overhead of hercules (instead of labours), I ran into a similar problem recently where I wanted to run couples analyses for specific date intervals.

I solved it using `--since` + `--until` on `git rev-list` and followed the suggestion in the README for passing a file list of commits.

File Couples Example (assuming current directory is the target re

[2019-06-25 05:11] vmarkovtsev commented on #287
I guess that the issue has been resolved. Please ping here if there is still something unclear.

[2019-06-25 05:11] #287 closed

[2019-07-02 07:52] scapista opened #295 "Running couples and shotness through Docker"
I am attempting to run your shotness and couples flags with varying results.  Maybe I'm misunderstanding the documentation and this is user error. When running shotness i am getting a dependency issue in hercules.

Example 1:
docker run srcd/hercules hercules --shotness --pb https://github.com/pallets/jinja >test.pb

<img width="976" alt="Screen Shot 2019-07-02 at 3 38 06 AM" src="https://user-ima

[2019-07-05 12:58] abirhajji opened #296 "No output"
I am running hercules using the following command

`hercules --couples path/to/repos > output.yml`
I got no data an it doesn't finish the process .
I have 200G disk , 32 RAM, 8CPU

[2019-07-06 17:55] vmarkovtsev commented on #296
Hi @abirhajji

repos or repo? Hercules works on a single repository, always, as noted in the readme.

I need the log (progress bar when it "hangs") and the repository to reproduce your problem. Also, is your CPU 200% busy during the "hang" or not?

[2019-07-11 16:27] vmarkovtsev commented on #296
@abirhajji ping

[2019-07-11 16:38] vmarkovtsev commented on #295
Hi @scapista

Try `hercules --feature uast --shotness`. The feature should be enabled automatically, but since you see an error stack, something got broken. I'll have a look.

Regarding `-m couples`, the error message suggests `couples-files` or `couples-people`. You should try one of those instead.

[2019-07-11 19:10] #295 closed

[2019-07-11 20:35] #294 closed

[2019-07-12 13:07] abirhajji commented on #296
it was CPUs problem I need a machine with more CPUs

[2019-07-12 13:50] vmarkovtsev commented on #296
Try the new release, it should probably help.

[2019-07-12 13:51] vmarkovtsev commented on #296
ok, closing for now, please write here if the problem persists and I will re-open at once!

[2019-07-12 13:51] #296 closed

[2019-07-31 12:04] buddies2705 opened #300 "Getting error which running sentiment analysis"
I have attached a screenshot of the error.

[code]

![Screenshot from 2019-07-31 17-31-17](https://user-images.githubusercontent.com/6241365/62210241-46396900-b3b9-11e9-8563-0b625da6fb9d.png)

[2019-07-31 12:07] vmarkovtsev commented on #300
Thanks for reporting. Can you please add `--feature uast` to `hercules`.

I will fix this properly soon.

[2019-07-31 13:31] buddies2705 commented on #300
Thanks for the quick response now I am getting this.

![Screenshot from 2019-07-31 19-00-49](https://user-images.githubusercontent.com/6241365/62215980-8c94c500-b3c5-11e9-88fa-ca489179d67f.png)

[2019-07-31 13:39] buddies2705 commented on #300
I started Babelfish docker image using below command

`docker run -d --name bblfshd --privileged -p 9432:9432 bblfsh/bblfshd:latest`

Now getting this

![Screenshot from 2019-07-31 19-09-28](https://user-images.githubusercontent.com/6241365/62216643-c4e8d300-b3c6-11e9-8325-e95d369debfd.png)

[2019-07-31 13:44] vmarkovtsev commented on #300
You need to install the drivers:

[code]

[2019-07-31 14:08] buddies2705 commented on #300
Thanks, I removed the stateless image and used Embedded drivers image, which worked.

[2019-07-31 14:10] buddies2705 commented on #300
Also for when using  --commits-stat  with hercules, what should I use with labours?

 hercules --commit-stat |   labours -m ?

[2019-07-31 14:27] vmarkovtsev commented on #300
OK this thread went very far away off the original topic :smile:

Can you please create separate issues.

[2019-07-31 14:29] buddies2705 commented on #300
Ok, will create another thread for the above question.

But I am still not able to perform sentiment analysis. check this comment..  https://github.com/src-d/hercules/issues/300#issuecomment-516864696

[2019-07-31 14:31] buddies2705 opened #301 "How to run commit stats"
When using --commits-stat with hercules, what should I use with labours?

hercules --commit-stat | labours -m ?

[2019-07-31 14:32] buddies2705 opened #302 "Can I plot commit chart?"
How can I plot a commit chart using hercules?

On X-axis -  commits'

On y-axis - time

[2019-07-31 14:35] vmarkovtsev commented on #301
Nothing actually, the resulting yaml should be short and simple. The whole thing is very basic, many other tools can compute the same.

[2019-07-31 14:35] #301 closed

[2019-07-31 14:40] vmarkovtsev commented on #302
This is not possible with hercules. However, I bet that [sourced-ce](https://github.com/src-d/sourced-ce) can. Eventually, hercules will be integrated there.

[2019-07-31 14:40] #302 closed

[2019-08-25 13:24] tkowalczyk opened #303 "Error parsing message with protobuf"
I am trying to run this tools in Docker on Windows and getting the below message. I could not find any similar issue here, thanks in advance

![obraz](https://user-images.githubusercontent.com/1682564/63650581-4cb6c880-c74c-11e9-9867-ed448c531725.png)

[2019-08-26 05:56] vmarkovtsev commented on #303
Hi @tkowalczyk you can try writing the file on disk and inspecting it. If all is fine, `cat` it to labours. If the error persists, then docker on windows cannot do pipes, which does not surprise me. In that case, use `labours -i /path/to/file/on/disk`.

[2019-08-26 13:27] tkowalczyk commented on #303
While trying with `-i` I am getting following error:

![obraz](https://user-images.githubusercontent.com/1682564/63694031-d1214e00-c815-11e9-8280-c9665815aa19.png)

path is OK, I have created this directory, I have also disabled the firewall, I have no idea how to run it successfully, I really need this great tool

[2019-08-26 13:52] vmarkovtsev commented on #303
As you see, it is a `FileNotFoundError`.

[2019-08-26 15:39] tkowalczyk commented on #303
yeah you are right but which file? I have created directory `c:\temp\tk_dtm` I have also tested with file like below but I am always getting error.

![obraz](https://user-images.githubusercontent.com/1682564/63702987-5f063480-c828-11e9-85ee-b6525f67b6de.png)

[2019-08-26 16:28] vmarkovtsev commented on #303
This is a trivial, 101 Docker usage problem. Sorry, but I don't have the resources for generic support at this time. Try reading what `docker -v` does.

[2019-09-16 06:40] Asday opened #304 "Please order `people_sequence` by the person's first commit"

[2019-09-16 08:34] vmarkovtsev commented on #304
Hi @Asday can you please be more specific - I don't remember a thing about my code now.

[2019-09-16 09:39] Asday commented on #304
After playing with it a bit, I don't think it does what I wanted.  When I do `labours -m ownership`, it shows some newer contributors underneath older ones, whereas I'd prefer the lowest to the highest in the stack to be in order of appearance.

![image](https://user-images.githubusercontent.com/340276/64948030-1a414c80-d86e-11e9-897b-5b9425f60326.png)

As you can see, with the giant smack of SLOC

[2019-09-16 09:50] vmarkovtsev commented on #304
ok, got it

[2019-09-17 14:10] #304 closed

[2019-09-18 09:31] vmarkovtsev commented on #303
Please write here if there is still any issue with the project (not with your environment).

[2019-09-18 09:31] #303 closed

[2019-09-18 09:32] vmarkovtsev commented on #300
Considering this as resolved.

[2019-09-18 09:32] #300 closed

[2019-09-18 09:35] vmarkovtsev commented on #304
@Asday 10.4.0 has been released: https://pypi.org/project/labours/10.4.0

[2019-09-30 12:53] vmarkovtsev opened #315 "Better CI checks for Python code"
All the modern Python projects at source{d} are checked by flake8 with several plugins. We need to have the same checks here. E.g. https://github.com/src-d/style-analyzer/blob/master/.flake8

[2019-10-01 15:45] akx opened #316 "How to run sentiment analysis?"
This seems related to #300, but I'm not sure how to resolve things still.
Using the prebuilt 10.4.3 / de522fabb931b212f9f007f5b8945126931d3a99 binary.

[code]

[2019-10-01 15:51] vmarkovtsev commented on #316
The prebuilt binaries do not contain Tensorflow-dependent analyses because Tensorflow for Go is a pain in the ass to install (downloading a shady tarball and unpacking it, then writing ldconfigs and running ldconfig) and gives +300MB to the size.

[2019-10-01 15:51] #316 closed

[2019-10-01 15:51] akx commented on #316
Haha, fair enough. Thanks for the fast reply! :)

[2019-10-01 15:52] vmarkovtsev commented on #316
Actually, `ldconfig` does not even exist in Darwin, so I dunno how to add linker paths there...

[2019-11-05 19:03] sh4nji opened #320 "Index out of range on single user "labours -m devs" analysis"
Labours throws an error when running on a output that has been generated with a user dictionary with only one user.

I wanted to get the _devs_ timeline for the whole team so I added all team-members to a single line in the dev dictionary.

YAML: [hercules.txt](https://github.com/src-d/hercules/files/3810761/hercules.txt)

[code]

[2019-11-06 21:27] vmarkovtsev commented on #320
Good catch! Thanks for reporting.

[2019-11-06 22:40] #320 closed

[2019-11-06 22:41] vmarkovtsev commented on #320
This should be fixed in 10.5.2. Please ping here if there was something missed.

[2019-11-07 14:43] coinmonks commented on #300
I am still getting `Unsatisfied dependency: [uasts] -> UASTChanges` error ,,mentioned above?

Every other analysis is running fine.

[2019-11-07 15:13] vmarkovtsev commented on #300
@coinmonks Does this help? https://github.com/src-d/hercules/issues/300#issuecomment-516820454

[2019-11-07 16:06] coinmonks commented on #300
@vmarkovtsev Nope getting this https://github.com/src-d/hercules/issues/300#issuecomment-516850060

[2019-11-07 17:14] coinmonks commented on #300
Hey @vmarkovtsev worked , thanks

But when I am running below command

```hercules --sentiment --pb --feature uast ../Pictures/arkcode/php-crypto  | labours -m sentiment -f pb```

I am getting

```Sentiment stats were not collected. Re-run hercules with --sentiment.```

[2019-11-09 06:48] vmarkovtsev commented on #277
It turns out that catching OOM in Go is impossible.

[2019-11-09 06:48] #277 closed

[2019-11-09 06:50] #252 closed

[2019-11-09 06:52] vmarkovtsev commented on #300
Please create a separate issue.

[2019-11-18 22:38] lerra opened #322 "Sentiment does not exist in the docker image"
Hi,

It looks like the docker image does not support the sentiment feature and I got the version

`docker run --rm -v $(pwd):/io srcd/hercules hercules --sentiment --pb https://github.com/django/django
Error: unknown flag: --sentiment
Usage:
  hercules [flags]
  hercules [command]

<standard help menu>

unknown flag: --sentiment
`
Here is the version output
`docker run --rm -v $(pwd):/io srcd/herc

[2019-11-19 06:34] vmarkovtsev commented on #322
Yep, this is intended: including TensorFlow adds 300MB to the image size. Besides, it works much slower on CPU and including a GPU flavor is harder.

I can prepare a separate image though.

[2019-11-19 15:38] lerra commented on #322
That would be really nice if that was available!

[2019-11-20 02:57] lerra opened #324 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xba in position 1: invalid start byte"
Hi, I am running the following that is failing,

[code]

$A is a variable of 733 pd files generated with the following command

[code]
This is the relaventt output of "hercules combine $A"
[code]

This is the error I get
``

Any idea on what's going wrong? I tried to pipe the output and decode utf8 but I just got another error

[2019-11-20 10:03] vmarkovtsev commented on #324
I think it failed to detect the input format and thus needs to set it explicitly:

[code]

[2019-11-21 06:12] lerra commented on #324
You are right, my bad!

[2019-11-21 06:12] #324 closed

[2019-11-21 06:16] lerra opened #325 "burndown-person fails due to long filename"
Hi, I am doing the burndown-person but it fails due to to long filename, the filename is really long and bizzar as it finds all combinations of the user and it does it really good but it gets to long.

Any ideá on how I can progress or ignore a specific person?

[code]

[2019-11-21 09:54] vmarkovtsev commented on #325
Let me quickly fix this and release a new package version. I'll add a size limit.

[2019-11-21 13:20] vmarkovtsev commented on #325
@lerra The problem should be fixed in v10.5.3, already in PyPi. Can you please confirm.

[2019-11-21 14:40] vmarkovtsev opened #327 "Implement parallel commit processing"
Some of the tasks do not require processing commits sequentially - they are either stateless or tolerate unordered processing. There should be a way to launch the analyses in several goroutines at once.

[2019-11-22 09:24] lerra commented on #325
@vmarkovtsev  thank you, it works like a charm, now I don't need my ugly patch in mathlab lib that I temporary created to get it to work :-)

[2019-11-22 09:24] #325 closed

[2019-11-23 20:37] gawth opened #328 "Upgrade to TensorFlow 2?"
Hi,

when I run the couples-files I get the following error:

[code]

I presume this is because the forked version of swivel you are running is still locked in to an old version of TensorFlow.

Any plans to upgrade?  Alternatively, what version of TensorFlow would I need to run?
Thanks
Alan

[2019-11-24 15:50] vmarkovtsev commented on #328
Hi. Indeed, the embedded Swivel model requires 1.x. I would bisect down starting from 1.14. AFAIR 1.0 should definitely work. I could not include it into `requirements.txt`, and the optional constraint in `setup.py` was overseen.

Thanks for noticing, I definitely need to upgrade.

[2019-12-01 19:25] pmajkutewicz opened #333 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbb in position 1: invalid start byte"
After executing
`./hercules --burndown --burndown-people --pb ~/path/git_project | labours -m ownership`

I'm getting:
[code]

Any advices?

[2019-12-02 12:58] vmarkovtsev commented on #333
I think `labours -f pb`should work. I need to properly fix this, that's not the first issue about it.

[2019-12-04 10:33] #333 closed

[2019-12-04 19:31] lerra commented on #322
When do you think you will have time to prepare it?

[2019-12-09 16:03] fv-ian opened #335 "v10.6.2 doesn't run on Windows"
Running the command ./hercules.exe help results in no response.   I have reverted back to git release and it runs

[code]

[2019-12-10 06:22] vmarkovtsev commented on #335
Hi @fv-ian, `--help` works for me perfectly. I am closing the issue as this is likely a usage problem.

Just in case, you need mingw-w64 installed - namely the following libs:
[code]

[2019-12-10 06:22] #335 closed

[2019-12-23 10:16] m09 opened #337 "Feature request: scattering output of ImportsPerDeveloper by commit"
Thanks @vmarkovtsev for the ImportsPerDeveloper integration of https://github.com/src-d/imports, it works great :fire:

On to the feature request: would it possible to scatter the output by commit? I have to be able to know when the imports were used for the API I'm building, and for that I need to know in which commit they were made. Basically, if I extract all imports from 01/01/2019 to 01/01/20

[2019-12-23 10:17] m09 opened #338 "Feature request: incremental updates"
Following #337, I have another feature request for your consideration!

I'd like to give a commit hash to hercules at which to stop the computation, so that all commits reachable from this commit would not be recomputed (including itself). Only the commits reachable from HEAD to this commit would be computed.

WDYT?

[2019-12-24 08:37] vmarkovtsev commented on #337
All right. Is it enough if I group the imports by day or do you need the commit hashes anyway?

[2019-12-24 08:38] m09 commented on #337
By day is great!

[2019-12-24 08:42] vmarkovtsev commented on #338
It is possible to specify the file with the list of commits to be processed via `--commits`. I suggest to do the following:

1. `git log` and filter commit hashes by time as needed. I am sure there are magic options to implement any filtering required.
2. Write them to a file and feed it to `hercules --commits`.

I hope it will work :+1:

[2019-12-24 08:43] m09 commented on #338
Sounds good :+1:

[2019-12-24 08:43] #338 closed

[2019-12-24 10:10] vmarkovtsev commented on #337
https://github.com/src-d/hercules/pull/339

[2019-12-24 10:50] vmarkovtsev commented on #337
Please try with v10.7.0

[2019-12-24 11:51] m09 commented on #337
I tried, output looks fine :100: I'll open a new issue after experimenting with it more if needed.

Thanks @vmarkovtsev for the super-fast feature implementation :rocket:

[2019-12-24 11:51] #337 closed

[2020-01-09 11:19] m09 opened #340 "Feature request: ability to disable identity"
For the current project I'm working on, I need to retrieve the simple `(email, name)` for each contribution instead of having the contributions mapped to the identity computed by hercules. Would it be possible to add a flag for that? Where the identity feature would just create a new identity for each new (email, name) tuple.

[2020-01-09 19:01] vmarkovtsev commented on #340
I am on this tomorrow morning.

[2020-01-10 12:08] #340 closed

[2020-01-10 12:09] vmarkovtsev commented on #340
`--exact-signatures` should make it. v10.7.1 is building in Travis, ETA 30 min.

[2020-01-10 12:13] m09 commented on #340
I'll test it ASAP, thanks :+1:

On Fri, Jan 10, 2020 at 1:09 PM Vadim Markovtsev <notifications@github.com>
wrote:

--
Hugo Mougard
Machine Learning Engineer at source{d}
+33 6 37 63 82 71

[2020-01-11 19:35] rohit-takhar commented on #164
@vmarkovtsev Any update on this analysis? I am interested in contributing but I have never worked on `go`. If you can guide me, I can put some time in figuring this out.

[2020-01-12 07:39] vmarkovtsev commented on #164
I haven't even started this. You are welcome to contribute! Don't worry, the killer feature of Go is that you can start writing functional idiomatic code in 1 day or even less.

Here is what I expect:

- We need to decide which code parsing library to use. Babelfish used to be a great option but it is no longer maintained. The neighbor analysis to collect imports/includes uses TreeSitter - that co

[2020-01-14 10:14] m09 opened #342 "Feature request: commit timeout / commit size threshold"
Related to #294: I recently hit a big commit (5544 files changed, 9725962 insertions(+), 10094991 deletions(-)), and its processing hangs (or just runs for more than 10 hours). Would it be easy to add a flag to filter those / add a timeout?

[2020-01-14 21:21] #342 closed

[2020-01-14 21:22] vmarkovtsev commented on #342
Hey @m09 please check out `--renames-timeout`. Try setting it to 1,000 (1 second). In fact, the default (1 minute) should still be fine.

[2020-01-15 09:12] m09 commented on #342
Thanks @vmarkovtsev :bowing_man: I'm testing that this morning.

[2020-01-15 09:13] m09 commented on #342
The repo just reached 1k commits btw :)

[2020-01-16 17:17] m-russ opened #345 "pip3 install labours fails on windows 10"
Getting this when running `pip3 install labours`
"Could not build wheels for hdbscan which use PEP 517 and cannot be installed directly"

I'm not sure if there is something on my end I need to be doing.

![image](https://user-images.githubusercontent.com/55924571/72546951-b2216800-3859-11ea-9fd4-840d4a69727f.png)

[2020-01-16 23:47] olliiiver opened #346 "internal integrity error src 0 != 2"
Hey, thanks for the great work!

Looks like if the `--languages` flag is set, the process runs into an error on commits with empty files.

[code]

[2020-01-20 10:20] vmarkovtsev commented on #346
Ack. Thanks for reporting!

[2020-01-22 00:32] jasonmarkperez opened #347 "Make fails on checksum mismatch."
After cloning and cd, running make produces:

[code]

[2020-01-23 04:50] jasonmarkperez commented on #347
cleaning and running make a few more times eventually resolved.

[2020-01-23 04:50] #347 closed

[2020-01-25 15:09] tgsoverly opened #348 "Github action fails with commits not found"
The following error was reported in the github actions.

[code]

From the output it really does look like the volumes in the docker container are property being setup and it should be running the command in the property directory.

The action was copied/pasted from your example.  This tool looks awesome, and lots of great work.  Thank you.

[2020-01-25 20:15] vmarkovtsev commented on #348
Hi @tgsoverly Thanks for trying out the Action! Hm, according to

there is probably a go-git problem. It tried to run the analog of `git log` and hit an error. The repo is not empty, otherwise there would not be any error.

I wonder how we can reproduce this. Can you try running `hercules` binary (take it from the [Releases](https://github.com/src-d/hercules/releases)) on the same repository and c

[2020-01-25 21:43] tgsoverly commented on #348
I moved the action to an open source project I have to make this easier.

Same issues reproduced there: https://github.com/tgsoverly/rover/commit/0bfa6001bc95801e7c13ff2e2d5d15c0886d991d/checks?check_suite_id=420002207

I ran the following command from inside that directory with the binary:
`./hercules --burndown --burndown-people --devs --couples --pb . | labours -m all -f pb --disable-projector

[2020-01-26 08:42] vmarkovtsev commented on #348
The error is different now:

It is very different from the original error. I am confused. Can you please create another issue to keep them separate?

[2020-01-26 14:19] tgsoverly commented on #348
Whoops, my mistake linked the wrong action before I had it setup correctly.

https://github.com/tgsoverly/rover/runs/408747677?check_suite_focus=true

[2020-01-27 01:06] tgsoverly commented on #348
Also FWIW I was able to switch to a macos image and change the binary and it gave the same error.  The same binary works locally so it would appear to be a container or they way it is being called issue.

[2020-01-27 06:51] vmarkovtsev commented on #348
The problem is in the preceeding "Clone Repo" step:

[code]

`--depth=1` effectively discards all the development history and renders Hercules useless.

[2020-01-27 12:15] tgsoverly commented on #348
I had that same thought last night, pretty easy fix.

[2020-01-27 13:39] tgsoverly commented on #348
[code]

Got the action to move on to the next step

[2020-01-27 15:41] marverix opened #349 "--start-date not working"
I'm running command:

[code]

But it seems that whatever `--start-date` doesn't to anything.

[2020-01-27 16:41] vmarkovtsev commented on #348
Cool, closing then. If you have time to PR the update of the sample yaml, it would be very useful to everybody else :+1:

[2020-01-27 16:41] #348 closed

[2020-01-27 16:42] vmarkovtsev commented on #349
Hi @marverix

Do you mean the filter does not work or the binary crashes or the result is empty? If the former, is it equivalent to not specifying the filter?

[2020-01-27 17:13] marverix commented on #349
Thanks for reply @vmarkovtsev .

Binary is ok - just results doesn't change. There is no change on graphs if I will set `--start-date` or not. I tried multiple things like adding also `--end-date`, other param name like `--start`... Nothing. I also tried to put some trash like `--start-date WOLOOLO` and still nothing. But, if I will not give value for param - then it will crash. I didn't dig enoug

[2020-01-30 17:18] nishontan opened #351 "Warning: there is no registered PB decoder for Sentiment"
I followed discussion on https://github.com/src-d/hercules/issues/300
and ran ```./hercules --feature uast --languages java --sentiment --pb https://github.com/fieldsight/fieldsight-mobile | labours -m sentiment -f pb ```

However, I get
`Warning: there is no registered PB decoder for Sentiment
done
Running: sentiment
Sentiment stats were not collected. Re-run hercules with --sentiment.
`

[2020-02-02 17:29] stevemenke commented on #349
Same happens to me. It looks like there is a disconnect between the CLI passing args to the show_devs function.

[2020-02-03 13:02] p3k opened #352 "Reconsider bold statement"
In the README it says:

This is a claim I cannot support from my experience using both, git-of-theseus and hercules, with the same repo (granted which is huge).

If you need numbers, I’ll provide them. Just let me know which ones you are interested in.

[2020-02-03 13:31] vmarkovtsev commented on #352
Well, that was backed with a benchmark on hundreds of OS repos from GitHub back in 2017. Since then, we tested with roughly 300k most-starred repos to great success. Perhaps your repo is an outlier that contains nasty edge cases that Hercules does not handle well *by default* (like adding and removing thousands of files in one commit). I can add to the claim smth like "... does but much faster exc

[2020-02-03 14:39] p3k commented on #352
thanks for the reply, going to do run the command with the flags presumably tomorrow.

in the meantime i would be curious about verifying the benchmark results of the _hundred of OS repos from GitHub_ as well as the _300k most-starred repos_. could you provide a link?

[2020-02-03 15:05] p3k commented on #352
btw. after approx. 2 hours running the `hercules` command finished. now i am running `labours` and all i get is the message `Reading the input...` and a blinking cursor – am i doing this right?

[2020-02-03 15:17] vmarkovtsev commented on #352
Regarding the links: this was internal to source{d} that is dead nowadays. To be precise, we ran Hercules over [PGA](https://github.com/src-d/datasets/tree/master/PublicGitArchive). It was very painful and took months, I must say.

Regarding `labours`, if you did not specify `--pb`, it must be trying to parse a huge YAML. Depending on whether you are running in docker or not, PyYAML is probably de

[2020-02-03 15:26] p3k commented on #352
oh too bad, but understandably nonetheless.

ah ok learning here. is `labours -f pb` what you mean? (`--pb` seems to be recognized by hercules only.) should i also run `hercules --pb` then?

oh ok i see. did you try git-of-theseus with tensorflow? :joy_cat:

21154

[2020-02-03 16:05] p3k commented on #352
still not sure i am doing this right… the readme says to issue these two commands for the project burndown:

[code]
could it be i need to either combine both commands via pipe or temporarily saved the hercules output, resp.?

[2020-02-03 16:14] vmarkovtsev commented on #352
The recommended flow is:

[code]

Ofc you can pipe `hercules --pb | labours` but as soon as you want to try different plotting parameters you'll have to wait another 2 hours. If the repo was small, any way would be OK, even with YAML.
Now that you've got YAML, there is no converter to PB, so either re-run `hercules` with `--pb` or give Python some time.

Yeah, I need to run theseus on Tensorflow,

[2020-02-04 13:18] p3k commented on #352
ok so i now got some nice burndown and ownership charts, thanks for the assistance.

regarding the latter, is it true i have to rerun hercules whenever i change the people dictionary? wouldn’t it be more efficient (if at all possible) to apply those entries when running labours?

[2020-02-04 14:23] vmarkovtsev commented on #352
There is `--exact-signatures` but the support for merging them according to a specific identity dictionary is not implemented in `labours` yet. PRs welcome :smile:

I am happy that I could help :+1: Shall I close?

[2020-02-04 14:28] p3k commented on #352
gonna do that for you :smile_cat:

[2020-02-04 14:28] #352 closed

[2020-03-07 01:37] unixb0y opened #353 "Not including specific branches? Only run on specified branch?"
Hello everybody. We have a project that we ported to Python 3 so there's a py3k branch and I'd like to get people-related stats (how many commits per person etc) regarding exactly that specific branch (from when it was started).
It looks like it's not being considered at all, since my coworker isn't listed at all in the graphic that is created when executing:

[code]

He only started working on th

[2020-03-07 02:07] unixb0y opened #354 "Start Date not working with --devs"
Hello, another issue:
This command works as expected:
[code]

while in this case, the graph shows info from the start of the project and completely ignores the --start-date:

[code]

[2020-04-04 01:29] Code0x58 opened #355 "Failure to aggregate developers when using .mailmap or --people-dict"
When using just a committed `.mailmap` the aggregation is done nicely, but when `--people-dict=...` is added the mailmap is not used at all. This is due to the branching in [`internal/plumbing/identity/identity.go`](https://github.com/src-d/hercules/blob/v10.7.2/internal/plumbing/identity/identity.go#L115) and lack of handling of mailmap in the `IdentityDetector.LoadPeopleDict(...)`.

Another issu

[2020-04-05 13:03] vmarkovtsev commented on #355
Thanks for digging this @Code0x58! Yes, merging several signatures with `|` is the intended way of how `--people-dict` works. Deduplicating the file is something that can be done beforehand with a variety of existing tools, so this is a matter of documenting the contract.
Likewise, `--people-dict` is considered the ultimate source of truth so any mailmap is skipped.

It would be awesome if you PR

[2020-04-05 13:04] vmarkovtsev commented on #354
Yes, `--start-date` is not implemented in the Python code for `-m devs`. Feel free to PR the fix everybody who sees this!

[2020-04-05 13:10] vmarkovtsev commented on #353
This is an interesting use-case @unixb0y, thank you for trying Hercules! Indeed, the HEAD is taken by default and there is no option to specify the branch by default :(

There is a workaround for this, however. It is not super handy but it will work. First, list all the commits that you wish to analyze:

[code]

Second, invoke Hercules with `--commits py3k_commits.txt`.

This workaround is mention

[2020-04-05 16:19] Code0x58 commented on #355
Now I'm familiar, I can see I misinterpreted the documentation about being able multiple emails mapping back:

So in #356 I extended the `README.md` a little and made it so you don't get any surprises if you do:
[code]
As for converting a mailmap to a `--people-dict`: that was done by hand. I can see what you mean about it being the source of truth so just made it clear in the readme that you get

[2020-04-05 18:39] bobheadxi opened #358 "switch to go-git/go-git"
It seems that `src-d/go-git` is no longer getting updates - [`go-git/go-git`](https://github.com/go-git/go-git) looks like it might be a good community fork

[2020-04-08 15:32] M2ohamad opened #359 "'for' loop initial declarations are only allowed in C99 mode (make Error 2)"
After cloning and cd, make results in this:
Is there a way to easily set CFLAGS? I tried adding CLFAGS=-std=c99 inside the Makefile but to no avail.

<img width="1193" alt="image" src="https://user-images.githubusercontent.com/11687934/78802970-0b45f700-7984-11ea-9c04-d337b2dc440b.png">

[2020-04-08 15:36] M2ohamad commented on #345
I had the same issue in Linux and solved it by manually and separately installing hdbscan. I'll update this post later with a link I used.

[2020-04-08 15:58] M2ohamad commented on #359
Fixed by adding "export CC=c99" to my $HOME/.bashrc
Getting another issue but marking this one as closed

[2020-04-08 15:58] #359 closed

[2020-04-08 16:01] M2ohamad opened #360 "Installing hercules in RHEL 7 - gcc compatibility?"
Which version of gcc works? I am running into errors after running "make" in Hercules and it seems to point to gcc problem.

Using:
gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-39)

<img width="1250" alt="image" src="https://user-images.githubusercontent.com/11687934/78806409-37fc0d80-7988-11ea-8740-8d269470acdf.png">

[2020-04-08 16:06] vmarkovtsev commented on #360
No idea about this, sorry. Windows?

[2020-04-08 16:09] vmarkovtsev commented on #345
@m-russ @M2ohamad can you please post the hdbscan build log? There is a magic pip option to either report full logs or to not delete the temporary directory.

[2020-04-08 16:59] M2ohamad commented on #360
No, using Red Hat linux. Before on MacOS using "clang" instead of gcc, running 'make' was successful.

[2020-04-08 22:57] M2ohamad commented on #360
I've been tackling with this issue for a long time. Do you know where we can pass "-w" to gcc in order to ignore warnings?
https://www.linuxquestions.org/questions/programming-9/gcc-warnings-being-treated-as-errors-how-to-close-it-723259/

[2020-04-09 14:44] M2ohamad commented on #360
Update: Got past the first error, but ran into more.
By using make CGO_CFLAGS="-w", the GCC Compiler ignores warnings...but there has to be a deeper issue here.

<img width="1279" alt="image" src="https://user-images.githubusercontent.com/11687934/78907529-6fc98a80-7a46-11ea-9f4b-9f41de69d5dc.png">

[2020-04-10 22:12] M2ohamad commented on #360
Solution: Got help from Mark Guz, an experienced developer and friend. Here's his steps:

`sudo yum install go --enablerepo=epel`
then `wget https://github.com/protocolbuffers/protobuf/releases/download/v3.11.4/protoc-3.11.4-linux-x86_64.zip`

unzip that into somewhere that is in your PATH

`sudo yum install python-virtualenv`

`sudo yum install python3 python3-devel`

`mkdir hercules-venv`

`virt

[2020-04-10 22:12] #360 closed

[2020-04-10 22:17] M2ohamad commented on #345
I believe you have to add your python's site-packages folder to your PATH variable. In my Linux environment, I found it under $HOME/.local/lib/python3.6/site-packages

[2020-04-13 11:42] unixb0y commented on #353
@vmarkovtsev Thanks for replying, I actually forked the repo I wanted to analyse, set the branch I needed as the master branch and ran the tool on that repo's URL :D
Yeah your answer was quite late, I needed to submit my stuff on that day tbh, but I really appreciate you still replying with what seems like a good workaround, too!

[2020-04-13 11:42] #353 closed

[2020-04-19 15:29] pythonmobile opened #361 "labours hangs"
labours -m ownership
Reading the input...  <hangs>

Ctrl + C
[code]
I've the latest version of labours. Hercules:

Version: 10
Git:     4ac296216434bd4a7869f0aaf814b47cf26b2c58

[2020-04-24 11:33] Detrous opened #362 "[BUG] Problem with time series for repository with a short lifetime ( >64 day)"
Hi! I found that time_series cannot be created for repositories with lifetime lower than 64 days.
It is caused by this constant
https://github.com/src-d/hercules/blob/master/python/labours/modes/devs.py#L51
`window = slepian(size // resolution, 0.5)` windows can be blank(if `size` < `resolution`) that will cause this error:

[code]

Why `resolution` is set to 64 ? Maybe this value must be calculat

[2020-04-27 23:42] M2ohamad opened #363 "ValueError: buffer size must be strictly positive"
<img width="866" alt="image" src="https://user-images.githubusercontent.com/11687934/80431165-6188c480-88b6-11ea-966d-33cb6aca497a.png">

I checked the "default buffer size" using import io and it shows 8192.

[2020-04-29 14:36] #363 closed

[2020-06-26 11:03] rajablackhat opened #364 "Few Questions / Requests"
Can I get the reports from gitlab using hercules. ?
Is it restricted to github only.?

Anyone Please answer my above questions.?

Thanks in advance
Raja

[2020-06-30 17:52] ntziolis commented on #193
Seeing the same issue. Shouldn't the Babelfish server be already running when using the docker image?

[2020-07-24 17:17] 0xjac commented on #361
I am having a similar issue. `scipy<1.2.2,>=0.19.0` is too old for my distro. Even if I downgrade scipy in a virtualenv, scipy 1.2.1 will not work with python 3.8. Any chance of an update to scipy 1.5?

[2020-09-21 12:33] jesuswasrasta opened #365 "pip3 install labours fails on Linux"
I'm on KDE Neon (Ubuntu 20.04LTS based).

`pip3 install labours` fails with the message below (sorry, it's long):

Even `pip3 install scipy` fails.
I solved installing these dependencies:
`sudo apt-get install libatlas-base-dev gfortran`

[2020-09-28 19:26] DanielRivasMD commented on #365
Same thing on Mac

[2020-10-05 10:43] stof opened #366 "Links to blog posts in the readme are dead"
The readme includes links to some blog posts presenting the project, but these links are dead links.

[2020-10-20 13:31] sirogane1013 opened #367 "Failuer to count couples when both of files have been renamed"
Hercules double counts the number of couples when both of coupled files is renamed.

When the commit log is given as follows:
**Commit1:**
A FileA
A FileB
**Commit2:**
M FileA
M FileB
**Commit3:**
R FileA -> FileA'
R FileB -> FileB'
**Commit4:**
M FileA'
M FileB'

the true number of couple of FileA' and FileB' is **4**.
However, Hercules counts the co-occurrence in Commit1 and Commit2, so it outpu

[2020-10-20 16:00] vmarkovtsev commented on #367
Thanks! I'll fix this. The project has gone a bit unmaintained recently, but I am planning to resurrect the development :+1:

[2020-11-19 08:48] f0ff38 opened #369 "[Question] Git authentication required"
Hello!
How i can  pass authentication credentials to git when using Hercules?

[2020-11-19 08:57] f0ff38 commented on #369
I have to pass login and password in the connection string.
Example:
`docker run --rm srcd/hercules hercules --burndown --pb 'https://user:password@git.mycompany.ru/git/app'`

[2020-11-19 08:57] #369 closed

[2020-11-24 23:25] scottleedavis commented on #365
here is osx catalina output

[code]

[2020-11-28 21:48] nschoenberg commented on #365
I've the same problem on my Ubuntu 20.04 LTS

[2021-01-09 11:50] blazern commented on #365
Same problem

[2021-01-14 16:20] ankostis commented on #365
Same problem, `sudo apt-get install libatlas-base-dev gfortran` did not solve it.

[2021-03-04 09:48] ekans commented on #365
On Ubuntu 20.04 installing the dependencies below works:
[code]
From https://github.com/scipy/scipy/issues/9005#issuecomment-623528512

[2021-03-07 01:07] unabletodecide opened #371 "Will hercules not work with private git repositories?"
This is the command I ran and the error thrown:

./hercules --burndown --burndown-people --couples --feature=uast --dry-run --dump-dag doc/dag.dot https://xyz.git

2021/--/-- --:--:-- failed to open https://xyz.git: authentication required
panic: failed to open https://xyz.git: authentication required

goroutine 1 [running]:
log.Panicf(0x1484269, 0x15, 0xc0012b1a48, 0x2, 0x2)
	/home/travis/.gimme/

[2021-03-08 07:41] marcofranssen commented on #371
maybe try with https://user@personal-access-token@xyz.git

[2021-03-18 07:02] unabletodecide commented on #371
I tried this, however, it is still not asking me for authentication/password. I am running this command in a non-git folder and cannot configure username and password with gitconfig. The command I ran and output below:

./hercules --burndown --burndown-people --couples --feature=uast --dry-run --dump-dag doc/dag.dot https://username@provider.org/owner_name/repo_name.git
2021/03/18 11:43:17 failed

[2021-03-19 16:05] unabletodecide commented on #371
The remote repository authentication from hercules command has still not worked!

JUST FOR THE SAKE OF TESTING, I pulled all branches of the remote repository and ran the above command successfully.

What can I do with this dag.dot file? hercules command is not taking DAG as input. I ran the Hercules command on the pulled repo but the visualizations are sometimes transparent and sometimes I cannot

[2021-04-06 04:46] #371 closed

[2021-04-11 09:34] ivatar39 opened #372 "GithubAction: Error while running"
Hi, so I did setup as in the example and while running Hercules, got errors.
**Workflow file:**
`on: [push]

jobs:
  hercules-charts:
    runs-on: ubuntu-latest
    name: Charts generated by src-d/hercules
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
      - name: Hercules
        uses: src-d/hercules@master
      - uses: actions/upload-artifact@master

[2021-04-22 11:59] martea opened #373 "proto: can't skip unknown wire type 7"
trying to use hercules combine in windows, to combine hercules results from the --burndown but ending up with same error.

![image](https://user-images.githubusercontent.com/795312/115710652-e2b45380-a372-11eb-8689-014b39728172.png)

[2021-05-02 18:34] nekketsuuu commented on #365
Since Pip version of numpy depends on OpenBLAS, so we must install OpenBLAS to build NumPy from scratch. This can be skipped using a wheel of numpy package.

So first run `pip3 install wheel` and then install labours. I can install labours by this method using Python 3.7.

[2021-05-02 18:49] nekketsuuu opened #376 "labours support for Python 3.8 and 3.9"
The package labours v10.7.2, the current latest version, cannot be installed by Python 3.8 and 3.9 using `pip3 install -e ./python` because its dependent library seriate 1.1.2 depends on ortools 6.9.5824, which only supports Python <= 3.7.

* https://github.com/src-d/hercules/blob/v10.7.2/python/requirements.txt#L30
* https://github.com/src-d/seriate/blob/0af55a2523938eee162db56dc5ba7399785c584e/r

[2021-05-18 15:33] kown7 opened #377 "UTF-8 characters in log"
When a name has an umlaut it will fail with

[code]

[2021-05-19 05:22] vmarkovtsev commented on #377
Hi @kown7 PTAL at the docs: https://github.com/src-d/hercules#bad-unicode-errors
Feel free to ping if it does not help.

[2021-05-19 05:22] #377 closed

[2021-05-19 08:15] kown7 commented on #377
Thanks for the pointer, missed that completely. RTFM and so.

Now I'm stuck at

[code]

This is certainly unrelated.

[2021-05-31 10:50] kown7 commented on #372
I get the same traceback:

[code]

Is there a similar fix as with the utf8 chars?

[2021-06-12 12:23] BeastyBlacksmith opened #379 "how to analyse a specific version of a repository?"
I tried running with
[code]
but the replied with `repository not found`

[2021-06-23 21:34] andyjones commented on #372
It looks like the iter_ticks method was [removed in matplotlib 3.3.0](https://matplotlib.org/stable/api/prev_api_changes/api_changes_3.3.0.html?highlight=iter_ticks) which is the version that is installed in the docker image (I'm not sure why as the requirements.txt looks like it should pin it)

You could copy action.yml into your own repo and force install an older version of matplotlib as a temp

[2021-06-28 21:20] ngarbezza commented on #372
Got the same error and I fixed it with @andyjones ' suggestion, thanks!

[2021-07-07 19:05] praburaj1985 opened #380 "Getting error while installing Hercules"
Hi,
 I got the below error while am make a file on Hercules.thanks in advance.

Error
go build -tags "" -ldflags "-X gopkg.in/src-d/hercules.v10.BinaryGitHash=f066cf008318b80fcc219886b2430f7a186e4e94" gopkg.in/src-d/hercules.v10/cmd/hercules
# github.com/smacker/go-tree-sitter
In file included from get_changed_ranges.c:3:0:
./language.h: In function ‘ts_language_lookup’:
./language.h:67:5: error: 

[2021-07-27 18:50] ansh-ag commented on #364
you can do it anywhere. read the readme and followthrough.

[2021-11-29 12:31] stojkovskistefan opened #382 "unicode characters issue"
Hello,

I wanted to try the tool out, but I am stuck with Unicode issues. The hercules script outputs some unicode characters, and later the unicode fix script does the same. I have windows 11, and I am using the terminal. Here's my output

`PS C:\Users\username\Downloads\hercules> C:\Users\username\Downloads\hercules.win64\hercules.exe --burndown --first-parent --pb .
 454 / 456 [================

[2021-12-23 18:22] rr0gi commented on #363
getting same error, any hint how to fix?

[2022-01-02 01:03] pingao777 opened #383 "how to set image title"
i have checked doc and help，and dont      find it

[2022-01-04 23:18] nepp95 commented on #372
Copy and pasting this into my workflow gives me a ton of errors, so I think maybe there were some syntax changes within Github Actions.
I have now tried it like below, where the only thing changed is the Hercules part of course. Before it was like in the default Github Actions.

It now tells me that I am not using Pip the right way... Could you give me some feedback as to what I am doing wrong?

[

[2022-01-07 13:42] DaniruKun commented on #372
Ran into the same error, is there any permanent fix for this?

[2022-01-10 14:51] DaniruKun commented on #383
I normally just do the analysis as mentioned in the examples, then in the matplotlib window I press "save" and save the rendered plot as whatever filename I want.

[2022-01-10 23:55] pingao777 commented on #383
Thanks for your reply, but what I want is to set plot title, not plot filename

[2022-01-12 16:49] DaniruKun commented on #380
Just a guess, but most likely you will need an older Go version.

[2022-01-29 16:03] MathieuDR commented on #376
Could a PR/Fork be opened for this?

[2022-01-30 22:49] nekketsuuu commented on #376
https://github.com/src-d/seriate/pull/8

[2022-04-09 11:31] znerd opened #384 "Darwin ARM64 build (macOS, Apple Silicon, M1 and later)"
Please include a macOS ARM64 build (Darwin, Apple Silicon, M1).

Note that this is an _optimization_ only, at this stage, since Intel x64 is still supported on Apple Silicon machines.

[2022-04-09 12:19] znerd commented on #379
@BeastyBlacksmith I'm not sure that's how it works. What you could do is download the git repository, and remove the branches/commits that you don't to be analyzed. Or perhaps there is an option to only consider one path through the history (single parent only or so?)

[2022-04-09 12:20] znerd commented on #373
@martea : It could be helpful if you provide a reproducible case that others could also execute.

[2022-04-09 12:22] znerd commented on #376
Seems related to #365.

[2022-04-09 12:25] znerd opened #385 "Document Python 3.7 requirement in README"
Suggestion: Document the Python 3.7 requirement in the README file.

[2022-09-02 15:18] r0bot opened #386 "Exclude folders when counting lines?"
Is there an option to exclude folders (node_modules, etc.) from counting the lines per dev added/removed?